.form_cover{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.81);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_cover span{
    color:#1ca2bd !important;
    font-size: 18px;
    cursor: pointer;
}
#additional_info .footer {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    margin: 20px 0px;
}
#Legal_title{
    display: none;
}
.Legal_text{
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 10px;
}
#additional_info .toggle_box span{
    padding-right: 20px;
}
#additional_info .profile_menu_title{
    margin-top: 30px;
}
#additional_info .dropdown-menu{
    text-align:right !important;
    font-size: 14px;
}
.form-check-label {
    font-size: 13px;
    padding-right: 10px;
}
#auth_box{
    background:#fff;
    width:410px;
    margin:40px auto;
    border:1px solid #dedede;
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
}
.auth_box_title{
    padding:15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}
#auth_box .field_name{
    font-weight:bold;
    padding-bottom:5px;
    display:block;
}
.input_label input {
    padding-right: 35px;
    height: 45px;
    color: #777;
    font-size: 13px;
}
.input_label{
    width:100%;
    margin-top:5px;
    position:relative;
    display:flex;
    align-items: center;
}
.input_label.user_name::before{
    font: normal normal normal 30px/1 FontAwesome;
    content:"\F10B";
    position:absolute;
    padding-right:15px;
    z-index: 10;
}
.input_label.user_pass::before{
    font: normal normal normal 30px/1 FontAwesome;
    content:"\F023";
    position:absolute;
    padding-right:10px;
    z-index: 10;
}
.send_btn{
    background:#00bfd6;
    color:white;
    width:340px;
    height:50px;
    line-height:50px;
    cursor:pointer;
    border:1px solid #41a7b4;
    border-radius:8px;
    -webkit-border-radius:8px;
    position:relative;
    margin:15px 0px;
}
.send_btn .line{
    width:70px;
    height:75px;
    background: rgba(255, 255, 255, 0.2);
    position:absolute;
    top:-13px;
    z-index:10;
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
    -webkit-border-top-left-radius:50%;
    -webkit-border-bottom-left-radius:50%;
    font-size:20px;
    transition:.3s;
}
.send_btn .line2{
    width:100% !important;
    border-radius:8px !important;
    -webkit-border-radius:8px !important;
}
.send_btn .title{
    width:calc(100% - 70px) !important;
    margin-right:65px;
    text-align:center;
    display:block;
    font-size:16px !important;
}
.send_btn .line::before{
    content: "\F07A";
    font-family:FontAwesome;
    padding-right:25px;
    padding-top:12px;
    display:block;
}
.send_btn.register_btn{
    width:100% !important;
    margin-top:20px;
}
.send_btn.register_btn .line::before {
    content: "\F234" !important;
    padding-right: 20px;
}
.send_btn.confirm .line::before{
    content:"\F00C" !important;
    padding-right: 20px;
}
.send_btn.login_btn{
    width:100% !important;
    margin-top:20px !important;
}
.send_btn.login_btn .line::before {
    content: "\F08B" !important;
    padding-right: 20px;
}
#auth_box .alert {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    text-align: center;
    font-size: 15px;
}
.number_input_div{
    width:380px;
    margin:auto;
}
.number_input{
    border:none !important;
    height:35px;
    width:330px;
    margin-right:-15px;
    text-align:left !important;
    letter-spacing:45px;
}
.line{
    width:45px;
    height:1px;
    background:#000;
    float:right;
    margin-left:10px;
}
.line_box{
    width:330px;
    margin:auto;
    padding-bottom:10px;
}
.profile-address-cart{
     background-color: #fff;
     position: relative;
     height: 280px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 98%;
     margin: 20px auto;
     box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
     -webkit-box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
}
.profile-address-cart::before{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    top:0px;
    background: linear-gradient(90deg,#00bfd6 48px,#ff7e7e 48px) repeat-x;
    background-size: 96px 3px;
}
.profile-address-cart-desc{
    padding:25px 30px 15px;
    min-height: 120px;
}
.profile-address-cart-desc h4{
    margin-bottom: 5px;
    color:#6d6d6d;
    font-size: 17px !important;
}
.profile-address-cart-desc p{
    font-size: 14px !important;
    color: #979797;
    padding-top: 5px;
}
.profile-address-cart-data{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top:1px solid #f4f4f4;
    padding:15px 20px
}
.profile-address-cart-data ul li{
    list-style: none;
    color: #979797;
    padding-top: 10px;
    font-size: 16px;
}
.profile-address-cart-data ul li .fa{
    margin: 10px;
}
.profile-address-cart-data ul li .fa-mobile-phone{
    font-size: 30px !important;
    margin-right: 12px !important;
}
.input_label.username::before{
    content:"\F007" !important;
    font: normal normal normal 30px/1 FontAwesome;
    position: absolute;
    padding-right: 10px;
    z-index: 10;
}
.chosen{
    color:red !important;
}
.score{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gray{
    width: 100px;
    height: 14px;
    margin-right: 5px;
    background: url("../files/images/stars.png") repeat-x 0px -14px;
    direction:ltr;
}
.red{
    height: 14px;
    background: url("../files/images/stars.png") repeat-x 0px 0px;
}
#share_box  p{
    line-height:35px;
}
#share_box ul {
    display: flex;
    justify-content: space-between;
    margin:25px 0px;
}
#share_box ul li{
    list-style: none;
}
#share_box ul li .fa{
    font-size:28px;
}
#share_box .modal-dialog{
    max-width:390px !important;
}
#share_box .fa-twitter{
    color: #4dcceb !important;
}
#share_box .fa-telegram{
    color: #08c !important;
}
#share_box .fa-facebook{
    color: #1da1f2 !important;
}
.has_error{
    font-size: 13px;
    color: red;
    padding-top: 10px;
}
#share_box .fa-whatsapp{
    color: #1bd741 !important;
}
#share_box .fa-envelope{
    color: #ef5661 !important;
    cursor: pointer;
}
#share_box  ul li button{
    font-size: 13px;
    width: 100px;
    background: white;
    border:1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 35px;
}
.share_link_form{
    width: 100%;
    display: none;
}
.email_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.share_link_form .form-control{
    width: calc(100% - 100px) !important;
    height: 40px;
}
.share_link_form  button{
    background-color:#ef5661 !important;
    border-color:#ef5661 !important;
    width: 80px;
    font-size: 14px;
    color: white;
    height: 40px;
    border-radius: 0.25rem;
}
.send_btn.forget_password{
    width: 100% !important;
}
.send_btn.forget_password .line::before {
    content: "\F023" !important;
    padding-right: 20px;
}
#forget_password_code{
    cursor: pointer;
}
.page {
    background: white;
    margin-top: 10px;
    width: 100%;
    padding: 30px;
    line-height: 30px;
    border: 1px solid #dedede;
}
.page h2{
    margin-bottom: 20px;
}
.message_content_div{
    width: 96%;
    margin: auto;
}
.user_message_div{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.09);
    color:#444d4d;
    font-size: 15px;
    margin-top: 20px;
    min-height: 160px;
}
.user_message_div_header{
    background-color: rgba(232, 249, 249, 0.68);
    padding: 18px;
    display: inline-flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    cursor: pointer;
}
.form_link{
    background-color: #f4516c;
    color: white !important;
    padding: 4px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    font-size: 14px;
}
.to_link{
    background-color: #34bfa3;
    color: white !important;
    padding: 4px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    font-size: 14px;
}
.message_content{
    padding: 18px;
    list-style: 28px;
    line-height: 30px;
}
.btn:focus{
    box-shadow:none !important;
}
.stop-production-img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.error_content{
    text-align: center;
    margin-top:50px;
    margin-bottom: 30px;
}
.error_content .btn{
    width: 120px;
    margin-top: 20px;
}
.error_content h4{
    margin: 10px;
}
.user_comment_list .comment_header_box{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.user_comment_list .pending_approval{
    border:1px solid #ece1e2;
}
.user_comment_list .pending_approval .comment_header_box{
    color: #fb3449;
    background-color: #fff3f4;
}
.user_comment_list .Accepted{
    border: 1px solid #f1f3f5;
}
.user_comment_list .Accepted .comment_header_box{
    color: #fb3449;
    background-color: rgba(249, 249, 249, 0.8);
}
.user_comment_list .comment_box .row{
    padding: 20px 15px;
}
.user_comment_list .comment_box{
    background-color: white;
    margin: 0px 0px 20px 0px !important;
    border:1px solid #e7e7e7;
}
.fake_tag{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #d5901f;
}
.changes_cart ul{
    margin-bottom: 0px !important;
}
.changes_cart ul li{
    line-height: 30px;
}
.changes_cart span{
    padding-bottom: 10px;
    display: block;
}
.changes_cart ul li{
    font-size: 14px !important;
}
.available_product{
    background: #ef5661;
    color: white;
    padding: 5px 15px;
}
.available_filter{
    filter: grayscale(100%);
}
.price_item.bootstrap-select .btn-light{
    background:white !important;
    border:1px solid #ced4da !important;
    border-radius:0px !important;
    -webkit-border-radius:0px !important;
    margin-right: 20px;
}
.price_item.bootstrap-select .btn-light .filter-option{
    text-align:right !important;
}
.price_item.bootstrap-select .dropdown-menu{
    text-align:right !important;
    overflow-x:hidden !important;
    font-size: 14px;
}
.price_item.bootstrap-select .dropdown-toggle{
    width:150px;
}
.price_item.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:150px !important;
}
