*{
    padding:0px;
    margin:0px;
}
@font-face {
    font-family:'IRANSansWeb';
    src:url('../fonts/IRANSansWeb.eot') format("embedded-opentype"),
    url('../fonts/IRANSansWeb.woff') format("woff"),
    url('../fonts/IRANSansWeb.ttf') format("truetype");
}
body{
    direction: rtl;
    text-align:right;
    font-family:IRANSansWeb;
    background:#f9f9f9;
    color:#515151;
    font-size:14px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: white;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}
.header .fa{
    font-size:19px !important;
    color:grey;
}
a{
    color:black;
}
.slider_box{
    margin-right: 10px;
    margin-left: 10px;
}
.slider_box .swiper-container{
    width: 100%;
    height: 100%;
}
.slider_box  img{
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
    width: 100%;
    max-height: 250px;
}
.slider_box .swiper-pagination-bullet-active{
    background-color:#00bfd6 !important;
}
.c-footer{
    margin-top: 50px;
    padding:0px 10px 0px;
    background-color:white;
    position: absolute;
    line-height: 22px;
    width: 100%;
}
.c-footer .row{
    width: 98%;
    margin: auto !important;
    padding-top: 20px;
    border-bottom: 1px solid #cecece;
    color: #4a5f73;
}
.c-footer .row ul{
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-footer .row .form-group{
    display: flex;
    margin-top: 20px;
    width:95%;
}
.c-footer .row .form-group input{
    border-radius: 0px;
    -weblit-border-radius: 0px;
    font-size: 13px;
}
.c-footer p{
    text-align: center;
    font-size: 14px;
    border-top:1px solid #cecece;
    padding-top: 15px;
}
.c-footer .row .form-group .btn{
    border-radius: 0px;
    -weblit-border-radius: 0px;
    font-size: 13px;
}
.c-footer img{
    max-width: 90px;
    margin-top: 10px;
}
.c-footer .row ul li{
    font-size: 14px;
    list-style: none;
    line-height: 30px;
    color: #c6c6c6;
}
.c-footer .mojavez{
    text-align: center;
    display: block;
}
.c-footer .mojavez div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.c-footer .mojavez img{
    max-width: 70px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product .title{
    color:black !important;
    font-size:13px;
    text-align:center;
    margin:15px 5px;
}
.product img{
    width:110px;
    margin:10px auto;
    display: block;
}
.discount-badge{
    padding:1px 5px;
    color:white !important;
    background:#ef5662;
    border-bottom-left-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    font-size: 13px;
    letter-spacing: .5px;
    position: absolute;
    z-index: 2;
    line-height: 1.222;
    top:-10px;
}
.index_product_box{
    padding:5px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    margin-left: 10px;
    margin-right: 10px;
}
.index_product_box .box_title{
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.index_product_box .box_title h6{
    font-weight: bold;
}
.product{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    border:1px solid #f6f6f6;
}
.product .price{
    text-align: center;
    color:red;
    font-size: 18px;
    margin-top:20px;
}
a:focus{
    text-decoration: none !important;
}
.banners{
    width: 99%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:15px auto;
    display: block;
}
.catBox{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.14);
    z-index: 1000000;
    display: none;
}
.sidenav{
    position: fixed;
    width: 270px;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    background: white;
    top:0px;
    right: -270px;
}
.fa-align-justify{
    cursor: pointer;
}
.sidenav img{
    width: 120px;
    margin:20px auto 10px auto;
    display: block;
}
.sidenav ul li{
    list-style: none;
    color: #757575;
    cursor: pointer;
    font-size: 15px !important;
}
.sidenav p{
    text-align: center;
}
.sidenav ul li a{
    color: #757575;
    padding: 15px 25px;
    display: block;
}
.sidenav ul li ul li{
   padding-right:15px
}
.sidenav ul li ul li a{
    padding: 10px 25px;
}
.li_div{
    display: none;
    background-color: #f5f5f5;
}
.li_div ul li ul{
    display: none;
}
.offers_counter p{
    display:none;
}
.offers_counter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.offers_counter::after{
    content: "\F017";
    display: inline-block;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    left: 5px;
}
.c-counter{
    font-size: 15px;
    font-weight:900;
    margin-left:15px;
    color:#515151 !important;
    display:inline-flex;
    direction:ltr;
}
.c-counter span{
    width:30px;
    text-align:center;
    margin-top:4px;
}
.price_tag{
    text-align: center;
    display: block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.09);
}
.index_search_form{
    width: calc(100% - 80px);
    margin-right: 0px !important;
    min-width:calc(100% - 80px);
}
.index_search_form .form-control{
    height:40px;
    border-color:#d5dadd;
    background-color:#eceff1;
    font-size:13px !important;
    border-radius:0px 7px 7px 0px !important;
    -webkit-border-radius:0px 7px 7px 0px !important;
}
.index_search_form .input-group-text{
    background:#ef5661 !important;
    width:50px;
    border-radius:7px 0px 0px 7px !important;
    border: 1px solid #ef5661;
    cursor:pointer;
    -webkit-border-radius:7px 0px 0px 7px !important;
}
.index_search_form .input-group-text .fa-search{
    color:white;
    font-size:20px;
    margin:auto;
}
.form-control:focus{
    box-shadow:none !important;
}
.navbar .fa-user-o{
    font-size: 21px;
    margin-right: 10px;
}
.navbar .fa-shopping-basket{
    font-size: 21px;
}
.cart_product_count{
    background-color:#ef5661;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 10000;
    position: absolute;
    text-align: center;
    top:-11px;
    left: 13px;
    color: white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.incredible_offers_img{
    margin:15px 10px;
}
.product_item_box{
    margin:10px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #f6f6f6;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
}
.product_headline{
   margin: 10px 10px 0px 10px;
}
.product_headline .product_title{
    line-height: 20px;
    font-size: 14px;
}
.product_headline .product_title span{
    display: block;
    color: #b5b5b5;
    padding-top: 5px;
    font-size: 12px !important;
    line-height: 12px;
}
.product_options{
    display: flex;
    justify-content: space-between;
    margin: 7px 10px;
    align-items: center;
    font-size:14px
}
.product_options .fa{
    font-size: 17px;
    margin-left: 10px;
}
#gallery  img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 250px;
    margin: 25px 0px 40px;
}
.product_item_box .row {
    margin: 0px !important;
}
.product_image{
    display:block;
    margin: auto;
    max-height: 250px;
}
.product_data_ul{
    display:flex;
}
.product_data_ul li{
    padding:10px;
    font-size: 14px;
}
.data_link{
    color:#1ca2db !important;
    border-bottom:1px dashed #1ca2db;
}
.color_ul{
    display:flex;
}
.color_ul li{
    list-style:none;
    border:1px solid #ccc;
    margin-left:10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    padding:5px;
}
.color_ul li label{
    cursor:pointer;
    margin-bottom:0px !important;
}
.ui_variant_shape{
    width:17px;
    height:17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #ccc;
    position: absolute;
    top: 7px;
}
.color_name{
    padding-right:25px;
    padding-left:10px;
}
.color_ul .active{
    border-color:#1ca2db !important;
}
.final_product_price{
    color:#fb3449;
    font-size:20px;
    padding-top:10px;
    display: block;
}
.product_discount{
    background-color:#ef5662;
    height:32px;
    border-radius:0px 19px;
    -webkit-border-radius:0px 19px 19px;
    width:60px;
    position:relative;
    margin:30px 20px 0px;
    text-align:center;
    color:white;
    font-size:16px;
    line-height:32px;
}
.product_discount::before{
    content:attr(data-title);
    font-size:13px;
    line-height:22px;
    color:#7f7f2f;
    position:absolute;
    bottom:100%;
    right:12px;
}
.product_unavailable span{
    font-weight: bold;
    font-size: 20px;
    color: #7a7a7a;
    margin-bottom: 20px;
    display: block;
}
.warranty_count{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}
.warranty_count .fa-angle-left{
    font-size: 22px !important;
}
.mobile_data_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    z-index: 100000;
    background: white;
    transition: all 0.6s;
    padding-bottom:10px;
}
.add_comment_box{
    width: 100%;
    height: 100%;
    padding-bottom:10px;
}
.vue_mobile_data_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    z-index: 100000;
    background: white;
    padding-bottom:10px;
}
.data-box-enter{
    transform: translateX(50%);
}
.data-box-enter-active{
    transition: all 0.6s;
}
.data-box-leave-active{
    transform: translateX(100%);
    transition: all 0.6s;
}
.order_send_type{
    margin-right:16px;
}
.mobile_data_box .header,.vue_mobile_data_box .header,.add_comment_box .header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 17px !important;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}
.productPriceList{
    background: white;
    margin-top: 20px;
}
.productPriceList .warranty_list{
    padding:15px 20px;
    margin: 10px;
    border:1px solid #e8e8e8;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,.09);
    border-radius:5px;
    -webkit-border-radius:5px;
}
.warranty_list div{
    font-size: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.warranty_list .fa{
    margin-left: 5px;
}
.warranty_list .price{
    font-size: 16px;
    justify-content: space-between;
    color:#000 !important;
    padding-bottom: 0px;
}
.productPriceList .active{
    background:#f4fbff !important;
    border:1px solid #19bfd3 !important;
}
.product_send_time::before{
    background: url("../files/images/d0a997dc.svg") no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    content:"";
    margin-left: 10px;
    background-size: contain;
    margin-right: -8px;
}
.btn-seller-add-cart {
    border-radius: 8px;
    background: #00bfd6;
    border: 2px solid #00bfd6;
    padding: 5px 10px;
    color: white !important;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}
.productPriceList .warranty_list div .fa {
    width: 27px !important;
    font-size: 20px !important;
}
.mobile_data_box .fa-home {
    color: #ef5662;
}
.mobile_data_box .fa-angle-left{
    font-size:25px !important;
    margin-right: 5px;
    margin-top: -4px;
}
.mobile_data_box .header a{
    display: flex;
    align-items: center;
}
.product_item_box .item_box{
    display: flex;
    justify-content: space-between;
    padding:0px;
    align-items: center;
    font-size: 14px;
}
.product_item_box .item_box a{
    cursor: pointer;
    display: flex;
    color: #00bfd6 !important;
}
.product_item_box .item_box a .fa-angle-left{
    font-size: 18px;
    margin-right: 5px;
}
.important_item_ul{
    margin:15px;
}
.important_item_ul li{
    color:#5d5d5d !important;
    padding:5px 0px;
    font-size: 14px !important;
}
.mobile_data_box.data_box{
    display: none;
}
.item_table{
    margin: 12px;
    font-size: 14px;
    overflow-y: scroll;
}
.product_item_name{
    background-color:#f1f1f1;
    display: flex;
    padding: 7px 10px;
    color: black;
}
.product_item_value{
    padding: 5px 10px;
}
.item_name{
    color:#4a90e2;
    font-size: 15px;
}
.mobile_data_box .content,.vue_mobile_data_box .content{
    overflow-y: auto;
    height: calc(100% - 60px);
    width: 100%;
}
.add_product_link{
    position: fixed;
    bottom:0px;
    background-color: #ef5662;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    padding: 15px 0px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: 100%;
    right: 0px;
    left: 0px;
}
.page_aside{
    width:95%;
    margin:10px auto;
}
.order_info{
    background:white;
    width:100%;
    margin-top:20px;
    border:1px solid #f6f6f6;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.order_info ul li{
    list-style:none;
    padding:10px;
    font-size: 14px;
}
.container-fluid{
    padding: 0px !important;
}
.order_info ul {
    padding-top: 20px;
}
.order_info ul li .left {
    float: left;
}
.checkout_devider {
    width: 96%;
    height: 4px;
    border: 1px solid #e6e6e6;
    margin: 2%;
}
.checkout_content {
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
}
.cart_row{
    font-size: 13px;
    padding: 20px 5px;
    border-bottom: 1px solid #eaeaea;
}
.cart_product_image{
    width:30%;
}
.cart_product_image img{
    width: 100%;
    margin: auto;
    display: block;
}
.cart_product_info{
    display: flex;
    width: 70%;
    color:#4a5f73;
    flex-direction:column;
    line-height:25px;
}
.cart_content{
    background-color: white;
    width: 95%;
    margin: 20px auto;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 0px rgba(0,0,0,.09);
}
.checkout_item{
    display: flex;
}
.checkout_options{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
}
.cart_color_div{
    position: relative;
}
.cart_product_price{
    font-size: 15px;
    font-weight: bold;
    color:#fb3449 !important;
}
.remove_product{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 55px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef5661;
    letter-spacing: -0.5px;
}
.cart_color_div .ui_variant_shape{
    top:4px !important;
    margin-right:5px;
}
.checkout_options .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
{
    width: 50px !important;
    margin-left: 10px !important;
    margin-right:5px;
}
.checkout_options .btn-light{
    background-color: white !important;
    border:1px solid #c3c3c3;
}
.checkout_options  .btn{
    padding:5px 10px;
}
#loading_box{
    background-color: rgba(209, 209, 209, 0.49);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    z-index:1000000;
    display: none;
}
.loading_div{
    width:300px;
    height:160px;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    background:white;
    text-align:center;
}
.loading_div img{
    margin:15px auto;
    width:120px;
    display:block;
}
.spinner{
    width:90px;
    margin:auto;
    text-align:center;
}
.spinner div{
    width:15px;
    height:15px;
    background-color: #ff7ca7;
    border-radius:100%;
    -webkit-border-radius:100%;
    display: inline-block;
    animation: spinner 1.4s infinite;
}
.spinner .b1{
    animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
}
.spinner .b2{
    animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
}
@keyframes spinner {
    0% {transform: scale(0)}
    40% {transform: scale(1)}
    100% {transform: scale(0)}
}
@-webkit-keyframes spinner {
    0% {-webkit-transform: scale(0)}
    40% {-webkit-transform: scale(1)}
    100% {-webkit-transform: scale(0)}
}
.message_div{
    background: rgba(225, 225, 225, 0.5);
    width:100%;
    position:fixed;
    right:0px;
    left:0px;
    bottom:0px;
    top:0px;
    z-index:10000;
}
.message_box{
    background:white;
    width:300px;
    height:125px;
    position:absolute;
    right:0px;
    left:0px;
    bottom:0px;
    top:0px;
    margin: auto;
    font-size:15px;
    padding:20px;
    border-radius:4px;
    -webkit-border-radius:4px;
    text-align:center;
    box-shadow:0 1px 4px 0px rgba(0,0,0,.1);
}
.message_box #msg{
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-size:15px !important;
}
.message_box .alert{
    padding:5px 30px 5px 30px !important;
    cursor:pointer;
    font-size:14px !important;
}
.message_box .alert-danger{
    margin-right:10px;
}
.empty_cart_div{
    width: 95% !important;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px auto !important;
}
.empty_cart_div .fa-shopping-basket{
    font-size: 40px;
    color: red;
    margin-left:5px;
}
.discount_cart_div{
    display: flex;
    justify-content: space-between;
    padding:0px 10px 20px 10px;
    font-weight: bold;
    font-size: 14px;
}
.order_header{
    width:100%;
    height:140px;
    background:white;
}
.checkout_steps{
    display:flex;
    position:relative;
    justify-content:space-between;
    width:285px;
    margin:30px auto;
}
.checkout_steps li{
    list-style:none;
    position:relative;
}
.step_item{
    width:20px;
    height:20px;
    position:relative;
    border-radius:100%;
    -webkit-border-radius:100%;
    background-color:#d0d0d0;
    text-align:center;
}
.inactive::before{
    content:"";
    position:absolute;
    background-color:#d0d0d0;
    width:133px;
    height:3px;
    top:50%;
    left:0px;
}
.checkout_steps .active::before{
    content:"";
    position:absolute;
    background-color:#00bfd6;
    width:133px;
    height:3px;
    top:50%;
    left:0px;
}
.shop_icon{
    width:130px;
    height:100px;
    display:block;
    margin:auto;
}
.step_item::before{
    content: attr(step-title);
    font-size:13px;
    position:absolute;
    top:-25px;
    left:50%;
    transform: translateX(-50%);
    white-space:nowrap;
}
.default_address{
    margin: 20px 10px 0px 10px;
}
.default_address h6{
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5ea;
}
.default_address .address_content{
    padding: 10px;
}
.default_address .address_content ul{
    width:100%;
    margin-top:10px;
    display:inline-flex;
    font-size: 14px;
}
.default_address .address_content ul li{
    width: 50%;
    list-style: none;
}
.show_other_item{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color:#00bfd6 !important;
    font-size: 14px;
    align-items: center;
}
.show_other_item .fa-angle-left{
    margin-right: 3px;
    font-size: 16px;
}
.add_address_btn{
    width:95%;
    margin:10px auto;
    border:4px dashed #b8b8b8;
    background:#FFF;
    min-height:70px;
    display:flex;
    justify-content:center;
    color: #a0a0a0;
    letter-spacing: -0.3px;
}
.add_address_btn strong{
    font-size:20px;
    padding:14px 22px;
}
.add_address_btn strong::before{
    content:"\F067";
    padding-left:5px;
    font:normal normal normal 14px/1 FontAwesome;
}
.select_address_tag{
    color:#00bfd6;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size:14px
}
.profile_item{
    background-color:#fff;
    padding:5px 15px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    margin: 10px;
}
#add_address_box  .input_label input{
    padding-right:10px !important;
    font-size: 14px;
}
#add_address_box .bootstrap-select .btn{
    background:white !important;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    padding: 0.375rem 0.75rem !important;
    margin-top: 10px;
    font-size: 14px;
}
#add_address_box .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width:100% !important;
    margin-top:0px !important;
}
#add_address_box .bootstrap-select .dropdown-menu.inner{
    font-size:14px;
    text-align:right;
}
#add_address_box .account_title{
    font-size:14px !important;
    padding-bottom:5px;
}
#add_address_box .textArea{
    resize:none;
    height:110px;
    width:100%;
    padding:5px;
    font-size:14px;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
}
#add_address_box .btn-primary {
    font-size: 14px;
    height: 45px !important;
    line-height: 30px;
}
#add_address_box .input_label{
    width:100%;
    margin:10px 0px !important;
    position:relative;
}
.filter-option-inner-inner{
    text-align: right;
    font-size: 13px;
}
.feedback-hint{
    color: red;
    font-size: 13px;
    padding-top: 10px;
}
.form-group{
    margin-bottom: 0px !important;
}
.hide_box{
    display:none;
}
#select_location_btn {
    margin-top: -50px;
    position: absolute;
    left: 30px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    font-size: 14px;
}
.default_address .address_item_header h6{
    border: 0px;
    margin-bottom: 0px !important;
}
.default_address .address_item_header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5ea;
    align-items: center;
}
.default_address .address_item_header .fa{
    font-size: 17px;
    margin-left: 15px;
    cursor: pointer;
}
#add_address_box .alert{
    width: 100%;
    font-size: 14px;
    margin: 0px 10px 10px;
}
#send_order_type_box{
    margin: 10px;
}
.shipping_data_box{
    width:100%;
    background-color: #fff;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    margin:10px auto;
    font-size:14px;
    padding: 20px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
}
.shipping_data_box .product_info_box{
    width:180px;
    margin-top:10px;
}
.shipping_data_box .product_info_box img{
    width:120px !important;
    margin:auto;
    display:block;
}
.shipping_data_box_title{
    font-weight: bold;
    font-size: 18px;
}
.shipping_data_box .header_box div{
    font-size: 13px !important;
    padding:10px;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-between;
    color: #858585;
}
.swiper-button-prev, .swiper-button-next {
    background-image: none !important;
    width: 40px !important;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 8px 9px 0
    rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev::before {
    content: "\F105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
}
.swiper-button-next::before {
    content: "\F104";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
}
.swiper-button-prev, .swiper-button-next {
    background-image: none !important;
    width: 40px !important;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 8px 9px 0
    rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobile_order_product_list .swiper-button-prev
{
    right: -3px !important;
}
#mobile_order_product_list .swiper-button-next
{
    left: -3px !important;
}
.label{
    padding-right:10px;
}
#mobile_order_product_list .swiper_product_box{
    border-color:#f6f6f6;
}
#mobile_order_product_list .shipping_data_box{
    margin-bottom: 20px;
}
.checkout_image {
    width:40px;
    height:40px;
    background-image: url("../files/images/d86ea8ec.svg");
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    background-position: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
.checkout_time span {
    font-size: 12px;
}
.checkout_time {
    margin-right:60px;
}
.swiper_product_box {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.check_box {
    width: 19px;
    height: 18px;
    border-radius: 4px;
    background:#fff;
    display: block;
    border: 1px solid #d8d8d8;
    float: right;
}
.check_box.active {
    background-color: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}
.check_box.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F00C";
    display: block;
    color: white;
    margin-right: 1px;
}
.form-check-input {
    display: none;
}
.swiper_product_box .product_info_box p {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.692;
    font-weight: 700;
    letter-spacing: -.4px;
    color: #858585;
    margin-bottom: 0px !important;
    height: 55px;
}
.product_color_name{
    height:auto !important;
    padding-top: 5px;
}
.active_item {
    background-color: #00bfd6;
}
.active_radio_check::before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: inherit;
    -webkit-order-radius: inherit;
    background-color: #00bfd6;
    position: absolute;
    top: 1px;
    left: 1px;
}
.radio_check {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    margin-top: 4px;
    right: 15px;
}
.product_color_name{
    margin-top: 5px !important;
    padding-bottom: 10px;
}
.gift_li{
    display: none;
}
.discount_li{
    display: none;
}
.discount_btn {
    width: 107px !important;
    height: 40px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #41a7b4;
    border-color: #41a7b4;
    font-size: 13px;
}
.discount_input {
    width: calc(100% - 107px);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 40px;
}
#mobile_order_product_list .alert{
    margin-top: 10px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
#mobile_order_product_list .product_color{
    height: auto !important;
    margin-top: 10px !important;
    margin-bottom: 5px;
    color: #858585 !important;
}
.profile_item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:500;
    border-bottom: 1px solid rgba(229, 229, 229, 0.84);
    line-height: 50px;
    cursor: pointer;
}
.profile_item_list{
    margin: 20px 12px !important;
}
.profile_item_list a{
    color:#5b5b5b !important;
}
.profile_item_header .fa-angle-left{
    font-size: 20px !important;
}
.profile_info_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e3e3e3;
}
.order_list .profile_item_header{
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3 !important;
    line-height: normal !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.order_list .profile_item{
   padding:7px 15px;
}
.profile_menu_title{
    display: block;
    padding:25px 20px 10px;
    color: #858585;
    font-weight: bold;
    font-size: 15px;
}
.order_content_header{
    font-size: 17px !important;
    margin: 20px 20px 0px 20px;
    font-weight: bold;
    border:0px !important;
}
.remove_border{
    border:0px !important;
}
.order_steps{
    width: 95%;
    margin:20px auto;
}
.order_steps img{
    width:70%;
    margin: auto;
    display: block;
}
.order_steps .swiper-slide{
    display: flex;
    align-items: center;
}
.step_div{
    width:100%;
    text-align:center;
    font-size:13px;
}
.step_div span{
    padding-top:15px;
}
.step_inactive{
    filter: grayscale(100%);
}
.profile_item .swiper-button-prev{
    right: -12px !important;
    box-shadow: none !important;
}
.profile_item .swiper-button-next{
    left: -15px !important;
    box-shadow: none !important;
}
#order_product_box .product{
    background: white;
    border:1px solid #f6f6f6;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.09);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#order_product_box .product img{
    width: 116px;
    margin: 10px auto;
    display: block;
}
#order_product_box .product .title{
    color: black;
    text-align: center;
    margin-top: 10px;
}
#order_product_box .product .order_product_price{
    text-align: center;
    color:red;
    font-size: 18px;
}
.product_box{
    margin: 10px;
}
.order_product_count{
    position: absolute;
    top:0px;
    left: 10px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color:#00bfd6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.filter_header{
    display: flex;
    padding: 10px;
}
.filter_btn{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color:#e0e0e0;
    color: #424242;
    font-size: 16px;
    padding: 5px 11px;
    margin-left: 5px;
    border: 1px solid #e0e0e0;
}
.advanced_search_box::after{
    content:"\F0B0";
    font-family:FontAwesome;
    margin-left: 5px;
    margin-right: 10px;
}
.sort_btn::after{
    content:"\F160";
    font-family:FontAwesome;
    margin-left: 5px;
    margin-right: 10px;
}
#filter_box .header{
    background-color:#e9e9e9 !important;
}
#filter_box{
    background: #f5f5f5 !important;
}
.filter-bar{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.filter-bar .btn{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    font-size: 13px !important;
}
.filter-bar div{
    display: flex;
}
.filter-bar div span{
    font-size: 13px;
    padding-right: 10px;
}
.toggle-light .toggle-off, .toggle-light .toggle-select .toggle-on {
    background: #00bfd6 !important;
}
.item_box{
    background-color:#fff;
    border-radius: 5px;
    -webkit-border-radius:5px;
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    width:100%;
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,.09);
    padding:0px 5px;
}
.title_box{
    display: flex;
    width: 98%;
    margin: auto;
    cursor: pointer;
    height: 55px;
    font-size:16px;
    color:#424242;
    align-items: center;
}
.title_box label{
    margin-bottom: 0px !important;
    padding-right: 5px;
}
.filter_box{
    display: none;
    max-height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid #dedede;
    overflow-x: hidden;
}
.item_box ul li {
    color: grey;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
}
.color_div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.color_filter_ul li{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.item_box ul li .title {
    padding-right: 5px;
}
#brand_search {
    width: 95%;
    margin: 15px auto;
    font-size: 13px !important;
    display: block;
    padding: 7px 25px;
}
.filter_brand_div::before {
    content: "\F002";
    font-family: FontAwesome;
    position: absolute;
    top: 23px;
    right: 5%;
}
.item_box.toggle_box{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item_box.toggle_box span{
    font-size: 13px;
    padding-right: 5px;
}
.filter_price_ul{
    width: 100% !important;
    display: inline-flex;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.remove_item_box_shadow{
    border:0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-bottom: 1px solid #e5e5ea !important;
    padding:0px 10px 10px!important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.filter_price_ul li{
    width: 50%;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.filter_price_ul li .price{
    background:#F0F0F0;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
}
.filter_price_ul li:first-child{
    border-left: 1px solid #dedede;
}
.product_div{
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    width:96%;
    margin:8px auto;
    background:white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.product_div .image_box{
    width: 120px;
}
.product_div .image_box img{
    width: 85%;
    margin: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product_info_div {
    display: flex;
    position: relative;
    width:100%;
}
.product_info_div .info{
    width:calc(100% - 120px);
    padding-top: 10px;
}
.product_info_div .discount-badge{
    top: -1px !important;
    right: 1px !important;
}
.product_info{
    font-size: 13px !important;
    color:#303e4d !important;
    line-height: 23px;
}
.selected_filter_item{
    display: none;
}
.selected_filter_item {
    border: 1px solid
    #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    color: #00bfd6;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
    background: white;
}
.selected_filter_item .fa{
    padding-right: 5px;
    padding-left: 5px;
}
#selected_filter_box{
    margin: 5px;
}
#filter_link{
    position: absolute !important;
}
#selected_filter_box{
    display: flex;
    flex-wrap: wrap;
}
.not_fount_product_message {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 2px dashed grey;
    background: white;
}
.info .price{
    color: black !important;
    font-size: 18px;
    text-align: left;
    position: relative;
    padding-bottom: 7px;
    min-height: 70px;
    padding-left:10px
}
.discount_div{
    font-size: 16px !important;
    margin-top: 15px !important;
    color: #acacac !important;
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.price_rang_slider{
    width: 85% !important;
    margin: 30px auto !important;
    height:5px !important;
}
.noUi-connect{
    background-color:#4bd763 !important;
}
.noUi-handle{
    border-radius: 59% !important;
    -webkit-border-radius: 59% !important;
    background:#4bd763 !important;
    border: 1px solid #4bd763 !important;
    box-shadow: none !important;
}
.noUi-handle::after ,.noUi-handle::before{
    background: none !important;
}
.noUi-horizontal .noUi-handle{
    top:-12px !important;
}
.product_cat_ul .ename{
    float: left;
    font-size: 12px !important;
}
.filter_brand_div{
    position: relative;
}
.info .product_status{
    padding-bottom: 5px;
    min-height: 70px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}
.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.sort_ul li{
    padding: 10px;
}
#sort_dialog_box .modal-dialog{
    max-width:80% !important;
    margin:auto !important;
}
#sort_dialog_box .modal-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
#sort_dialog_box .modal-header h6{
    padding: 0px !important;
    margin: 0px !important;
}
#sort_dialog_box .modal-header button{
    margin-left: 0px !important;
}
input[type="radio"]:checked,input[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked+label,input[type="radio"]:not(:checked)+label{
    position: relative;
    padding-right:28px;
    color:#666;
    line-height:20px;
}
input[type="radio"]:checked+label::before,input[type="radio"]:not(:checked)+label::before{
    content:'';
    position: absolute;
    right: 0px;
    top:0px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fff;
}
input[type="radio"]:checked+label::after,input[type="radio"]:not(:checked)+label::after{
    content:'';
    position: absolute;
    right: 4px;
    top:4px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #F87DA9;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
input[type="radio"]:not(:checked)+label:after{
    transform: scale(0);
    -webkit-transform: scale(0);
}
input[type="radio"]:checked+label:after{
    transform: scale(1);
    -webkit-transform: scale(1);
}
#loading_box2{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading_div2{
    width:220px;
    height:20px;
    margin:auto;
    text-align:center;
    padding:20px;
}
.loading2{
    width:30px;
    height:30px;
    border:3px solid red;
    border-top:3px solid white;
    float:right;
    margin-left:10px;
    border-radius:50%;
    -webkit-border-radius:50%;
    animation:load 1s linear infinite;
}
@keyframes load {
    0% {transform:rotate(0deg) }
    100% {transform:rotate(360deg) }
}
.add_link{
    border: 2px solid #00bfd5;
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.add_link .fa-plus{
    padding-right: 5px;
}
.comment_div{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    font-size: 13px !important;
}
.comment_div ul li{
    list-style: none;
    color:#858585;
}
.evaluation_label{
    color:#858585;
}
.comment_content{
    color:#858585;
}
.comment_div .user_name,.comment_div .date{
    font-weight: bold;
    padding-bottom: 5px;
}
.more_link{
    cursor: pointer;
    display:flex;
    align-items: center;
}
.show_more_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:10px;
    color: #00bfd5;
}
.show_more_div .fa{
    font-size: 20px !important;
    margin-right: 5px;
}
.comment_div2{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 96%;
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    margin: 10px auto;
    background:white;
    padding: 0px 10px;
}
.comment_header{
    border-bottom:1px solid #e5e5e5;
    padding-bottom:10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.comment_header p{
    margin-bottom: 0px;
}
.comment_title{
    font-weight: bold;
    padding-top: 15px;
    display: block;
}
.comment_div2 .evaluation_ul{
    margin-top: 5px;
    padding-right: 0px !important;
}
.comment_div2 .evaluation_ul li{
    list-style: none;
    position: relative;
    font-size: 14px;
}
.comment_div2 .evaluation_ul li span{
    margin-right: 15px;
}
.comment_div2 .evaluation_ul li::before{
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    content:"";
    top:5px
}
.comment_div2 .evaluation_ul.advantage li::before{
    background-color: #00bfd6;
}
.comment_div2 .evaluation_ul.disadvantage li::before{
    background-color: #fb3449;
}
.btn_like{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #00bfd6;
    background-color: #fff;
    padding: 2px 7px;
    color: #00bfd6;
    font-size: 14px;
}
.dislike{
    border-color:#ef5661 !important;
    color:#ef5661 !important;
    margin-right:5px;
}
.dislike::before{
    color:#ef5661 !important;
}
.btn_like::before{
    margin-left: 7px;
    color: #00bfd6;
    font-size: 15px !important;
    content: attr(data-count);
}
.comment_div2 .footer{
   display: flex;
   justify-content: space-between;
   padding: 10px 0px;
   width: 100%;
   align-items: center;
}
.evaluation_label{
    margin-top: 7px;
    color: #858585;
    display: block;
}
.comment_text{
    color:#858585;
    padding-top: 10px;
}
.title-buyer{
    width: 46px;
    height: 70px;
    background-image: url("../files/images/01e78ae1.svg");
    padding-top: 35px;
    font-size: 12px;
    text-align: center;
    position: relative;
    color:#64d979;
}
.title-buyer::before{
    position: absolute;
    content:"";
    width: 26px;
    height: 23px;
    background-image:url("../files/images/346c9f95.svg");
    top:10px;
    left:calc(50% - 13px);
}
.feq_filter{
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    -webkit-box-shadow:0px 2px 4px 2px rgba(0,0,0,.09);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 96%;
    margin: 10px auto;
    background:white;
    padding-top: 1px;
}
.box_header{
    box-shadow: none !important;
    border:0px  !important;
}
.feq_filter_item{
    display:flex;
    flex-wrap: wrap;
}
.feq_filter_item li{
    margin: 7px;
    list-style: none;
}
.feq_filter_title{
    padding: 10px 7px;
    font-size: 14px;
}
.rang_box{
    position: relative;
    margin-top: 30px;
}
.rang_box input[type="range"]{
    width: 315px !important;
    position: absolute;
    top:19px;
    right: -10px;
    z-index: 10;
    margin-top:12px;
    background: transparent;
}
.rang_box input[type="range"]::-moz-focus-outer{
    border:0px;
}
.rang_box input[type="range"]::-moz-range-thumb{
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 2;
    background-color: #35ccde;
    cursor: pointer;
    border:2px solid #fcfcfc;
    border-radius: 50%;
    webkit-border-radius: 50%;
}
.rang_slider_div{
    width:240px;
    background: #d5d5d5;
    position: relative;
    height: 5px;
    margin-top: 10px;
}
.rang_box input[type="range"]{
    width: 255px !important;
    position: absolute;
    top:23px;
    right: -10px;
    z-index: 10;
    margin-top:12px;
    background: transparent;
}
.rang_slider_div::before{
    position: absolute;
    right: 100%;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 13px;
    content:attr(data-rate-title);
    margin-right: 27px;
}
.active_rang_slider{
    right: 0px;
    left: 50%;
    position: absolute;
    background-color: #35ccde;
    height: 6px;
}
.active_rang_step{
    background-color: #35ccde !important;
}
.rang_box label{
    font-size: 13px;
}
.js-slider-step{
    position: absolute;
    width: 12px;
    height: 12px;
    z-index:2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: silver;
    cursor: pointer;
    border:2px solid #fcfcfc;
    top:50%;
    transform: translateY(-50%);
}
.slider_step_three{
    right:calc(25% - 6px);
}
.slider_step_four{
    right:calc(50% - 6px);
}
.slider_step_five{
    right:calc(75% - 6px);
}
.slider_step_six{
    right:calc(100% - 6px);
}
#comment_form .col-md-12{
    padding: 0px !important;
    margin: 0px !important;
}
#comment_form .comment_form_div{
    margin: 0px 10px;
    padding-bottom: 20px;
    font-size: 14px !important;
}
.score_box_header{
    padding: 10px 0px;
    border-bottom: 1px solid #f2f2f2;
}
.score_box_header .title{
    font-size: 13px;
    color:#494949;
}
#comment_form .profile_item{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
.score_comment_form{
    width: 95%;
    margin: auto;
}
.custom-alert{
    border-radius: 0px !important;
    margin: 10px;
}
.positive_item{
    padding-right: 20px;
}
.positive_item:before{
    content:"";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    right: 7px;
    top:6px;
    background: #00bfd6;
}
.negative_item{
    padding-right: 20px;
}
.negative_item:before{
    content:"";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    right: 7px;
    top:6px;
    background: #f33449;
}
.input_add_point{
    margin-bottom: 20px;
    position: relative;
}
.input_add_point input[type="text"]{
    border-radius: 5px;
    border:1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
}
.score_comment_form textarea{
    width: 100%;
    height: 150px;
    resize: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-weight: 400;
    padding: 10px;
    margin-top: 20px;
}
.score_comment_form .form-control{
    padding-right: 10px !important;
    font-size: 14px !important;
}
.add_comment_btn{
    font-size: 15px;
    line-height: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    padding: 14px 31px;
    color: #fff;
}
.add_comment_tozihat{
    border-right: 1px solid #ededed;
    padding: 40px 50px;
}
.add_comment_tozihat h4{
    margin-bottom: 45px;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.5px;
}
.input_add_point button{
    width: 48px;
    height: 100%;
    background: none;
    border: none;
    position: absolute;
    left: 0px;
    top:0px;
    padding: 0px;
    cursor: pointer;
    display: none;
}
.input_add_point button::before{
    content:"\F0FE";
    font-family:FontAwesome;
    font-size: 22px;
    position: absolute;
    top:11px;
    left: 13px;
    color: #878787;
}
.score_comment_form .item_list div{
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#advantage_input_box div{
    background-color: #edf6f7;
    color:#3a8c96;
}
#disadvantage_input_box div{
    background-color: #fff3f4;
    color:#fb3449;
}
.score_comment_form .row{
    padding: 0px 5px !important;
}
#comment_title {
    padding: 11px 12px !important;
    width: 100%;
    height: auto !important;
}
.profile_edit_link{
    padding: 8px 15px;
    border: 1px solid #00bfd6;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
.personal_info{
    color:#515151 !important;
    line-height: 40px !important;
}
.toggle_box_box{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top:10px;
}
#additional_info .toggle_box{
    margin-left: 10px;
}
#additional_info .form-control{
    font-size: 14px !important;
    height:40px !important;
}
.additional_info_div{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
#additional_info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:100% !important;
}
#additional_info .bootstrap-select > .dropdown-toggle{
    height:40px !important;
    font-size:14px !important;
}
.header.auth{
    justify-content: center !important;
}
#auth_box{
    width: 95% !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09) !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.09) !important;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 20px auto !important;
}
.auth_box_title span{
    color: #00bfd6 !important;
    font-size: 16px !important;
    font-weight: bold;
}
#auth_box .input_label{
    display: block !important;
}
#auth_box .input_label{
    width:100%;
    margin:5px 0px !important;
    position:relative;
}
.register_accept .check_box{
    margin-left:5px;
}
.input_label.user_name::before{
    padding-top: 6px !important;
}
.input_label.user_pass::before{
    padding-top: 6px !important;
}
.number_input_div{
    width: 300px !important;
}
.number_input{
    margin-right: -36px  !important;
    background: transparent !important;
    letter-spacing:46px !important;
}
#auth_box .alert-success{
    margin: 10px !important;
}
#resend_active_code{
    cursor: pointer;
}
#additional_info .form-control{
    padding-right: 10px !important;
}
.address_btn {
    color: #636363;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:#e3e3e3;
    cursor: pointer;
}
.profile-address-cart-data{
    display: block !important;
}
.profile-address-cart-desc{
    padding: 10px !important;
    min-height: auto !important;
}
.profile-address-cart-data{
    border-top:0px !important;
    padding: 0px !important;
}
.profile-address-cart-data ul{
    margin: 0px !important;
}
.profile-address-cart-desc p{
    color: black !important;
    margin: 0px !important;
}
.profile-address-cart-data ul li{
    color: black !important;
    font-size: 15px !important;
    padding-top: 0px !important;
}
.profile-address-cart{
    height: auto !important;
}
.btn_ul{
    width: 100%;
    justify-content: flex-end;
    border-top:1px solid #f4f4f4;
    padding-left: 10px;
}
.btn_ul button{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.profile_address_btn{
    height: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    flex-direction: column;
}
.profile_address_btn::before{
     content:"\F041" !important;
     font-family:FontAwesome;
     font-size: 40px !important;
     padding-left: 5px;
}
.profile-address-cart-desc h4{
    margin-top:5px !important;
}
.favorite_product{
    font-size: 12px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.favorite_product img{
    width: 100px;
    margin-left: 10px;
}
.product_price{
    color: red;
    font-size: 16px !important;
}
.favorite_footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.favorite_footer .btn{
    font-size: 12px !important;
    padding: 5px 10px !important;
}
.favorite_footer .btn-primary{
    margin-left: 10px;
    background-color: #00bfd6 !important;
    border-color: #00bfd6 !important;
}
.favorite_footer .btn-danger{
    color: white !important;
}
.favorite_list .profile_item{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
.question_div{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    font-size: 13px !important;
}
.question_info{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold !important;
    width:100%;
}
.feq_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #85858529;
    padding:10px 7px;
    color: black;
}
.feq_list .section{
    width:95%;
    margin: 10px auto;
    font-size: 14px !important;
    color:#858585;
}
.vue_content_box{
    background-color: #f5f5f5;
}
.questionlist{
    width:95%;
    margin: 10px auto;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;

}
.questionlist ul{
    padding-bottom: 5px;
}
.questionlist ul li{
    list-style: none;
}
.questionlist .footer{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.answer_header{
    font-size: 13px;
    display: flex;
    color: black;
}
.answer_header span{
    padding: 3px;
}
.questionlist .answer_li{
    margin-right: 15px;
}
.questionlist  .section p{
    width: 95%;
    color: #858585;
    margin: 10px auto;
    font-size: 14px !important;
}
.questionlist .answer_li p{
    margin-top: 5px !important;
    margin-right: 0px !important;
}
.questionlist .answer_li .footer{
    justify-content: space-between !important;
    color: black;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vue_content_box #auth_box .form-group{
    margin-top: 15px;
}
.reset_password_link{
    font-size: 13px;
    color: #1ca2bd;
    margin-top: 10px;
    display: block;
}
.question_form textarea{
    padding: 10px;
    width:95%;
    height: 180px;
    resize: none;
    margin:15px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
   border: 1px solid #dfdfdf;
   display: block;
}
.question_form_label{
    padding: 10px 0px;
    border-bottom: 1px solid #f5f5f5;
    width:95%;
    margin: auto;
    font-weight: bold;
}
.question_form_label2{
    color: #858585;
    border-top: 1px solid #f5f5f5;
    width:95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:15px;
}
.question_form_label2 a{
    color:#1ca2db !important;
}
.question_buttom_div{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width:95%;
    margin: auto;
    align-items: center;
}
.question_buttom_div label{
    display: block;
    padding-right: 10px;
    width: calc(100% - 18px);
}
.question_buttom_div .agreement{
    display: flex;
    align-items: center;
    width: calc(100% - 18px);
}
.add_question{
    font-size: 13px !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #00bfd6;
    background-color:#fff;
    padding:12px 10px;
    color:#00bfd6;
    width: 100px;
}
.question_form .alert{
    margin: 10px;
    margin: 10px;
    line-height: 25px;
    font-size: 13px;
}
.old_question{
    margin:5px;
    display: block;
    color: #858585;
}
.old_question span{
    color: black;
    font-weight: bold;
}
.paginate{
    width: 95%;
    margin: 10px auto;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.paginate span{
    color: #858585;
}
.paginate .active{
    color: black !important;
}
.brand_info{
    box-shadow: 0 12px 12px 0px rgba(180, 180, 180, 0.1);
    border: 1px solid #dedede;
    background-color: white;
    width:97%;
    margin: 10px auto;
}
.brand_info img {
    display: block;
    margin: 20px auto;
}
.brand_info p {
    text-align: center;
}
.info .product_status div .line {
    width: 100%;
    height: 1px;
    margin: 0px !important;
    background: grey;
}
.info .product_status div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.info .product_status div span {
    position: absolute;
    top: -10px;
    width: auto;
    background: white;
    padding-right: 5px;
    padding-left: 5px;
    color: gray;
}
.info .product_status {
    padding-bottom: 10px;
    min-height: 80px;
    display: flex;
    align-items: center;
}
.product_offer_box{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    margin-top: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #fb3449;
    align-items: center;
    height: 40px;
}
.product_offer_box img{
    margin-right:10px !important;
    height: 15px !important;
}
.product_offer_div{
    height: 47px;
    margin-bottom: 5px;
}
.product_offer_box .c-counter{
    color: #fb3449 !important;
    margin-left: 0px !important;
}

.offer_box{
    display:inline-flex;
    justify-content: space-between;
    width:100%;
    border-bottom: 1px solid #fb3449;
    font-size:13px;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
}
.offer_box .c-counter{
    font-size:18px !important;
    color: #fb3449 !important;
}
.offer_box img{
    margin-right:0px !important;
    height:17px !important;
}
.offer_box .c-counter{
    margin-left: 0px !important;
}
.search_box_div{
    margin: 10px;
}
.search_form{
    padding-bottom:20px;
    display: flex;
}
.search_box_div .btn{
    font-size:14px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.search_form .form-control{
    width: calc(100% - 100px);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    font-size:14px !important;
}
.search_form .btn{
    width: 100px;
}
.message_box_title{
    line-height:40px !important;
    font-weight: bold;
    margin-bottom: 20px;
}
.margin-10{
    margin-top: 10px;
}
.message_form .btn{
    font-size:14px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.file-input-div{
    display: flex;
}
.file-input-div label{
    width: 100px;
}
.file-input-div input[type="file"]{
    width: calc(100% - 100px);
}
.user_message_div{
    background-color: white;
}
.message_form{
   margin:15px;
}
.message_form .form-control{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    font-size: 14px !important;
}
.message_form .btn{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    font-size: 14px !important;
}
.message_form  textarea{
    resize: none;
    font-size: 14px !important;
    height: 150px;
}
.message_list .profile_info_row{
    padding-top:15px;
    padding-bottom:15px;
}
.center_message{
    text-align: center;
    padding-top:10px;
    padding-bottom: 20px;
    margin: 0px !important;
}
.page_cover{
    width: 100%;
    height:300px;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url('../files/images/9de6ef39.jpg') top no-repeat;
    background-size: cover;
}
.faq_list{
    width: 94% !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -80px !important;
    margin-right: auto;
    margin-left: auto;
    padding: 15px !important;
}
.feq_cat_list{
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
}
.feq_cat_list a{
    width:50%;
    display: block;
}
.feq_cat{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:180px;
    position: relative;
}
.feq_cat:hover{
    border-radius:8px;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,.15);
}
.feq_cat a:hover{
    color: black;
}
.feq_cat span{
    margin-top:10px;
}
.faq_cat_icon{
    width:80px;
    height:80px;
    background: #f9f9f9 50% no-repeat;
    margin-bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq_cat_icon img{
    max-width:60%;
}
.cat_list_border_left::after {
    content: "";
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    width: 1px;
    background-color: #d3d3d3;
    left: 0;
}
.feq_cat::before {
    content: "";
    width: calc(100% - 20px);
    position: absolute;
    right: 10px;
    height: 1px;
    background-color: #d3d3d3;
    bottom: 0;
}
.common_question_list{
    margin-top:30px !important;
}
.common_question{
    line-height: 30px;
    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.common_question_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 60px;
    align-items: center;
    padding-right: 15px;
    padding-left:20px;
    cursor: pointer;
}
.common_question_header h6{
    margin: 0px !important;
    font-weight: bold;
    font-size: 14px;
}
.common_question_header .fa{
    font-size:18px;
}
.small_answer{
    display: none;
    width:85%;
    margin: 10px auto;
}
.more_data{
    width: 100%;
    text-align: left;
}
.page_cover_title{
    width: 100%;
    padding-top:80px;
    color: white;
    text-align: center;
}
.page_cover .search_box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page_cover .search_box form{
    width:87%;
    display: flex;
    margin-top: 20px;
}
.page_cover .search_box form .btn{
    width:90px !important;
    font-size: 13px;
    height: 45px;
}
.page_cover .search_box form .form-control{
    width: calc(100% - 110px) !important;
    margin-left: 20px;
    font-size: 13px;
    height: 45px;
}
.cat_info{
    display: flex;
    align-items: center;
}
.cat_info img{
    width:60px ;
    margin-left: 10px;
}
.faq_list .answer{
    margin-top: 20px;
}
.faq_list .answer img{
    width: 90% !important;
    margin: auto;
    display: block;
}
.faq_list .answer video{
    margin: auto;
    display: block;
    width: 100% !important;
}
.user_comment_list {
    margin: 10px;
}
.user_comment_list .comment_div2{
    box-shadow:none !important;
    border: 1px solid #e7e7e7 !important;
    padding: 0px !important;
    border-radius: 0px !important;
}
.user_comment_list .comment_div2 .col-md-6{
    margin:0px  10px ;
}
.user_comment_list  .comment_content{
    margin-bottom: 20px;
}
.user_comment_list .Accepted .comment_header_box {
    color: #fb3449;
    background-color: rgba(244, 244, 244, 0.8) !important;
}
.user_comment_list .comment_header{
    padding:10px 15px;
}
.user_comment_list .comment_title{
    padding: 0px 0px 5px 0px !important;
    font-size: 15px;
}
.user_comment_list .alert-danger{
    margin-top: 10px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    margin-bottom: 0px !important;
}
/*.user_comment_list .pending_approval {*/
/*    border-color: #fff1f3 !important;*/
/*}*/
#share_div{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.14);
    z-index: 1000000;
    display: none;
    top:0px;
    bottom: 0px;

}
#share_box{
    width: 100%;
    background: white;
    position: absolute;
    bottom:-280px;
    height:280px;
    transition: all 0.5s;
}
#share_box ul{
    display: block !important;
}
#share_box ul li{
    margin: 10px 25px !important;
}
#share_box p{
    margin:10px 15px;
}

.chart_color_div{
    position: absolute;
    height: 70px;
    z-index: 10;
    background: white;
    width: 100%;
    padding: 10px;
    margin-top: -90px;
}
.chart_color_div .color_ul{
    flex-wrap: wrap;
}
.chart_color_div .color_ul li{
    margin-bottom: 10px;
    width: 90px;
    text-align: center;
}
.chart_color_div .color_ul li .color_name{
    padding: 0px !important;
}
.changes_cart{
    margin:15px 15px 5px 15px;
}
.changes_cart a{
    display: block;
    color: #00bfd5;
}
.available_product{
    display: table;
    float: left;
}
.available_div{
    display: flex;
    justify-content: end;
    margin-left: 10px;
}
.add_address_btn{
    margin-top: 20px !important;
}
