*{
    padding:0px;
    margin:0px;
}
@font-face {
    font-family:'IRANSansWeb';
    src:url('../fonts/IRANSansWeb.eot') format("embedded-opentype"),
    url('../fonts/IRANSansWeb.woff') format("woff"),
    url('../fonts/IRANSansWeb.ttf') format("truetype");
    font-size:15px;
}
body{
    direction: rtl;
    text-align:right;
    font-family:IRANSansWeb;
    background:#f5f5f5;
    color:#515151;
}
.header{
    width:100%;
    background:white;
    padding: 10px 20px;
    display: flex;
}
.shop_logo{
    width:120px;
}

.header_row{
    width:calc(100% - 120px);
    height:75px;
    padding:18px 0px;
    display: flex;
}
.index_header_search{
    width:calc(100% - 556px);
    margin-right:20px;
    min-width:300px;
}
.index_header_search .form-control{
    height:47px;
    border-color:#d5dadd;
    background-color:#eceff1;
    font-size:13px !important;
    border-radius:0px 7px 7px 0px !important;
    -webkit-border-radius:0px 7px 7px 0px !important;
}
.index_header_search .input-group-text{
    background:#ef5661 !important;
    width:60px;
    border-radius:7px 0px 0px 7px !important;
    border: 1px solid #ef5661;
    cursor:pointer;
    -webkit-border-radius:7px 0px 0px 7px !important;
}
.index_header_search .input-group-text .fa-search{
    color:white;
    font-size:20px;
    margin:auto;
}
.form-control:focus{
    box-shadow:none !important;
}
.header_action{
    margin-right: 170px;
    display: flex;
}
.index_auth_div{
    width:154px;
    height:47px;
    cursor:pointer;
    font-size:16px;
    margin-left:20px;
    line-height:47px;
}
.index_auth_div .fa-angle-down{
    float: left;
    font-size:15px !important;
    line-height:47px;
}
.header-auth-box{
    width:250px !important;
    direction:rtl !important;
    text-align:right !important;
    font-size:14px;
}
.header-auth-box::after {

    border-color: transparent transparent #ef5661;
    border-width:8px 8px;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 30px;
    content: "";
}
.header-auth-box::before {
    height: 4px;
    background-color: #ef5661;
    bottom: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
}
.btn-primary {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}
.header-auth-box .btn {
    width: calc(100% - 20px);
    margin: 10px;
}
.header-auth-box .register-link{
    font-weight:bold;
    font-size:15px !important;
    text-align:center;
    padding:5px 0px;
}
.link{
    color:#008ec9;
    border-bottom:1px dashed #008ec9;
}
a:hover{
    text-decoration:none;
}
.link:hover{
    color:#008ec9;
}
.header-auth-box .dropdown-item::before{
    width:30px;
    font-family:FontAwesome;
    padding:0px 10px;
    font-size:20px !important;
}
.header-auth-box .profile::before{
    content: "\F2C0";
}
.header-auth-box a{
    padding-right:0px !important;
}
.header-auth-box .orders::before{
    content: "\F06B";
}
.header-auth-box .admin::before{
    content: "\F0E4";
}
.header-auth-box .logout{
    cursor:pointer;
}
.header-auth-box .logout::before{
    content:"\F08B";
}
.header_divider{
    height: 45px;
    width: 0;
    border-right: 1px solid #606060;
}
.btn-cart{
    width: 154px;
    background-color: #fff;
    border: 1px solid #00bfd6;
    color: #00bfd6;
    line-height: 25px;
    height: 40px;
    margin-top: 3px;
    margin-right: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    align-items: center;
    display: flex;
    padding: 0 15px;
    cursor: pointer;

}
#cart-product-count{
    display: flex;
}
#cart-product-count::after {
    background-color: #00bfd6;
    color:#fff;
    width: 25px;
    line-height: 28px;
    height: 25px;
    display: block;
    content: attr(data-counter);
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
}
#cart-product-count::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    content: "\F07A";
    margin-left: 5px;
    display:flex;
    align-items:center;
}
.index-cat-list{
    background-color:#616161;
    min-width:1100px;
}
.index-cat-list ul{
    position:relative;
}
.index-cat-list ul li{
    display:inline-flex;
    font-size:13px;
    padding:9px;
}
.index-cat-list ul li a{
    color:white;
    text-decoration:none;
    z-index: 10;
}
.li_div{
    width:100%;
    background:white;
    position:absolute;
    right:0px;
    left:0px;
    top:100%;
    height:430px;
    padding:19px 24px 45px 280px;
    border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    border:1px solid rgba(0,0,0,.1);
    z-index:2000;
    display:none;
}
.subList{
    width:25%;
    float:right;
    z-index:20;
}
.subList .child_cat{
    color:#1ca2db;
}
.subList li{
    display:block !important;
    padding-top:0px !important;
}
.subList ul li a{
    color:#515151 !important;
}
.subList ul li{
    padding:5px 15px 0px !important;
}
.show-total-sub-cat{
    bottom:0;
    position:absolute;
    right:24px;
    border-top:1px solid #e9e9e9;
    padding:12px 0px;
    width:calc(50% - 160px);
}
.show-total-sub-cat a{
    color:#1ca2db !important;
}
.sub-menu-pic{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:100;
    width:270px;
    max-height:325px;
}
.sub-menu-pic img{
    max-width:100%;
    max-height:100%;
    border-bottom-left-radius:5px !important;
    -webkit-border-bottom-left-radius:5px !important;
}
.left_item{
    float:left;
    background:#525252;
}
.cat_hover{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    transform:scaleX(0);
    transition:.3s;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,.15);
}
.cat_hover div:before{
    content:"";
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:2px;
    width:100%;
    background-color:#ef5661;
}
.index_cat_ul li a {
    position: relative;
    z-index: 10;
}
.slider_box{
    width:100%;
    height:240px;
    margin-top:10px;
    position:relative;
}
.slide_div{
    width:100%;
    display:none;
}
.slide_div a {
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 1;
    width: 100%;
    display: block;
    background-size: cover;
}
#right-slide{
    width:19px;
    height:33px;
    background-image:url("../files/images/arrow.png");
    position:absolute;
    background-position:-19px -33px;
    top:104px;
    right:15px;
    cursor:pointer;
}
#left-slide{
    width:19px;
    height:33px;
    background-image:url("../files/images/arrow.png");
    position:absolute;
    top:104px;
    left:15px;
    cursor:pointer;
}
.slider_box_footer{
    width:100%;
    float:left;
}
.slider_bullet_div{
    display:table;
    margin:-40px auto;
}
.slider_bullet_div span{
    width:12px;
    height:12px;
    border-radius:100%;
    -webkit-border-radius:100%;
    margin-left:5px;
    cursor:pointer;
    display:inline-flex;
    opacity:.8;
    background-color:#fff;
    box-shadow:0px 1px 1px 0px rgba(0,0,0,.3);
}
.slider_bullet_div span.active{
    background:#00bfd6 !important;
}
.an{
    animation-name:slider;
    -webkit-animation-name:slider;
    -moz-animation-name:slider;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
}
@keyframes slider {
    from {opacity:0.1}
    to {opacity:1}
}
.discount-box{
    position:relative;
    color:#515151;
    margin-top:30px;
    margin-bottom:20px;
    width:100%;
    border-radius:5px;
    -webkit-border-radius:5px;
    height:435px;
    line-height:22px;
    box-shadow:1px 1px 4px 0px rgba(0,0,0,.07);
    background:#fff;
    overflow:hidden;
}
.discount-box .item{
    display:none;
    color:#727272;
}
.discount-box .item img{
   height: 270px !important;
   margin:55px auto;
    display:block;
}
.discount-box-content{
    width:100%;
}
.discount_bottom_bar{
    width:223px;
    position:absolute;
    height:46px;
    left:calc(50% - 111px);
}
.discount_bottom_bar::before{
    width:223px;
    height:46px;
    background:#ef5661 url("../files/images/905163eb.png") no-repeat 50%;
    content:"";
    display:block;
    border-radius:0px 0px 24px 24px;
    -webkit-border-radius:0px 0px 24px 24px;
    background-size:auto 19px;
}
.price_box{
    margin-top:30px;
}
.incredible-offers-price{
    margin-top:10px;
}
.incredible-offers-price label{
    font-size:23px !important;
    font-weight:bold;
    color:#ef5661;
    margin-top:5px;
    margin-left:15px;
}
a {
    color: black;
}
.price_box del {
    font-size: 16px !important;
    font-weight: bold;
}
.discount-badge{
    padding:5px 10px;
    color:white !important;
    background:#ef5662;
    border-radius:15px;
    -webkit-border-radius:15px;
    font-size: 18px;
    letter-spacing: .5px;
    position: absolute;
    z-index: 2;
    line-height: 1.222;
}
.discount_title{
    margin:20px 0px 10px 20px;
    font-weight:700;
    text-align:right;
    line-height:30px;
    color:#515151 !important;
}
.important_item_ul{
    margin:15px;
}
.important_item_ul li{
    color:#5d5d5d !important;
    padding:5px 0px;
}
.discount-box a:hover{
    color:#727272 !important;
}
.c-counter{
    font-size:30px;
    font-weight:900;
    color:#515151 !important;
    display:inline-flex;
    direction:ltr;
    margin-top:20px;
}
.c-counter span{
    width:45px;
    text-align:center;
    margin-top:4px;
}
.discount_counter_title{
    font-weight:bold;
    margin-top:10px;
}
.discount_left_item{
    display:none;
    background-color:rgba(240,246,250,.9);
    color:#464646 !important;
    border-right:1px solid #ececec;
    width:25%;
    height:435px;
    cursor:pointer;
    letter-spacing:-.5px;
}
.discount_left_item .active{
    background-color:#ef5662 !important;
    color:white !important;
}
.discount_left_item div {
    padding: 10px 15px;
}
.discount_left_item a{
    background-color:#00bfd6;
    box-shadow:0px 8px 14px 0px rgba(0,0,0,.03);
    padding: 10px 15px;
    position:absolute;
    bottom:0px;
    width:100% !important;
    color:white !important;
}
.discount_box_footer{
    height:55px;
    direction:rtl !important;
    background-color:#f1f7fb;
    z-index:1;
    overflow:hidden;
    position:relative;
}
.discount_box_footer .swiper-slide{
    text-align:center;
    width:auto;
    margin-top:7px;
    display:block;
    font-size:14px !important;
    cursor:pointer;
    height: 42px !important;
    padding:10px 25px;
}
.discount_box_footer .active{
    background-color:#ef5662 !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    height:100%;
    color:white;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,.2);
}
.index-pic{
    width:100%;
    height:189px;
    margin-top:10px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.slider .col-2{
    padding:0px !important;
}
.row{
    margin:0px !important;
}
.discount_box_footer .swiper-wrapper {
    padding-right: 40px !important;
    height: 55px !important;
}
[dir="rtl"] .slick-prev{
    right: -1px;
    width: 49px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    height:55px;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    display:flex;
    justify-content:center;
    align-items:center;
}
[dir="rtl"] .slick-prev::before{
    content: "\F105";
    font-family:FontAwesome;
    font-size:30px;
    color:#575757;
}
[dir="rtl"] .slick-next::before{
    content: "\F104";
    font-family:FontAwesome;
    font-size:30px;
    color:#575757;
}
[dir="rtl"] .slick-next{
    left: 0px;
    width: 49px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    height:55px;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.product_box{
    background-color:#fff;
    width:100%;
    border-radius:5px;
    -webkit-border-radius:5px;
    margin:20px 0px;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
}
.product{
    margin:10px 0px;
    padding:7px 0px;
}
.product img{
    width:170px;
    height:170px;
    margin:40px auto 40px auto;
}
.product  .title{
    color:grey !important;
    font-size:14px;
    text-align:center;
    margin-top:20px;
}
.discount_price{
    height:20px;
    text-align:center !important;
    color:grey !important;
}
.price{
    color:red;
    text-align:center !important;
    font-size:18px !important;
}
.product .discount-badge{
    top: -12px;
    left: 30px;
}
.product_img_div{
    position:relative;
}
.box_title{
    width:100%;
    border-bottom:1px solid #a7a7a7;
    height:65px;
    display: flex;
    align-items:center;
    cursor:pointer;
}
.box_title h6{
    margin-bottom:0px !important;
    margin-right:20px !important;
    font-weight:bold;
}
.product_info{
    background: white;
    margin-top:10px;
    display:inline-flex;
    width:100%;
}
.product_info .product_data{
    width:100% !important;
    padding:0px 30px 0px 20px;
    background:#fdfdfd;
    font-size:14px;
}
.product_info .product_image_box{
    flex:0 0 420px;
}
.product_headline{
    padding:10px 0px;
    min-height:95px;
    display:flex;
    border-bottom:1px solid #f2f2f2;
}
.product_headline .product_title{
    padding-top:20px;
    font-size:15px;
    line-height:18px;
}
.product_headline .product_title span{
    display:block;
    padding-top:10px;
    color:#b5b5b5;
}
.product_data_ul{
    display:flex;
}
.product_data_ul li{
    padding:10px;
}
.data_link{
    color:#1ca2db !important;
    border-bottom:1px dashed #1ca2db;
}
.color_ul{
    display:flex;
}
.color_ul li{
    list-style:none;
    border:1px solid #ccc;
    margin-left:10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    padding:5px;
}
.color_ul li label{
    cursor:pointer;
    margin-bottom:0px !important;
}
.ui_variant_shape{
    width:17px;
    height:17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #ccc;
    position: absolute;
    top: 7px;
}
.chart_color_div{
    position: absolute;
    height: 70px;
    z-index: 10;
    background: white;
    width: 100%;
    padding: 10px;
    bottom: 0px;
}

#vue_chart .modal-lg{
    max-width: 950px !important;
}
.color_name{
    padding-right:25px;
    padding-left:10px;
}
.color_ul .active{
    border-color:#1ca2db !important;
}
.info_item_product{
    font-size:15px;
}
.tooltip{
    font-family:IRANSansWeb !important;
}
.info_item_product .fa{
    font-size:20px !important;
}
.final_product_price{
   color:#fb3449;
    font-size:22px;
    padding-top:10px;
    display: block;
}
.product_discount{
    background-color:#ef5662;
    height:32px;
    border-radius:0px 19px;
    -webkit-border-radius:0px 19px 19px;
    width:60px;
    position:relative;
    margin:30px 20px 0px;
    text-align:center;
    color:white;
    font-size:18px;
    line-height:32px;
}
.product_discount::before{
    content:attr(data-title);
    font-size:13px;
    line-height:22px;
    color:#7f7f2f;
    position:absolute;
    bottom:100%;
    right:12px;
}
.product_options{
    padding:30px;
    display:table;
    position:absolute;
}
.product_options li{
    list-style:none;
    margin:10px;
    padding:8px 12px 5px 10px;
    font-size:23px;
    cursor:pointer;
}
.product_image_box img{
    max-width:75%;
    margin-top:80px;
    margin-right:20%;
    max-height:300px;
    margin-bottom:40px;
}
.default_product_pic{
    min-height:200px;
}
.offer_box{
    display:inline-flex;
    justify-content: space-between;
    width:90%;
    margin-right:5%;
    border-bottom: 1px solid #fb3449;
    font-size:13px;
    margin-top:10px;
}
.offer_box .c-counter{
    font-size:18px !important;
    color: #fb3449 !important;
}
.offer_box img{
    margin-right:0px !important;
    margin-top:30px !important;
    height:19px !important;
    margin-bottom:20px !important;
}
.important_item_ul li{
    color:#5d5d5d;
    padding:7px 0px;
}
.more_important_item{
    display:none;
}
.show_more_important_item {
    color: #1ca2bd !important;
    cursor:pointer;
}
.show_more_important_item::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F067";
    padding-left: 5px;
}
.minus_important_item::before{
    content: "\F068" !important;
}
#tab_div{
    margin:30px 0px;
}
.tab-content{
    background:white;
    border:1px solid #dfdfdf;
}
#tab_div .nav-tabs{
    background-color:#f8f8f8;
    border:1px solid #dfdfdf;
}
#tab_div .nav-tabs .nav-link{
    border-radius:0px !important;
    -webkit-border-radius:0px !important;
    padding:17px !important;
    cursor:pointer;
    position:relative;
}
#tab_div .nav-tabs .nav-link.active::before{
    display:block;
    content: "";
    background:#00bfd6;
    height:4px;
    position:absolute;
    bottom:100%;
    right: -1px;
    left: -1px;
}
.item_content{
    width:95%;
    margin:30px auto;
}
.item_table{
    width:100%;
}
.product_item_name{
     width:230px;
 }
.product_item_name p{
    background:#f7f9FA;
    padding:14px 18px 12px;
    margin-bottom:5px;
    margin-top:5px;
    font-size:14px;
}
.product_item_value{
    padding-right:10px;
}
.product_item_value p {
    background: #F7F9FA;
    padding: 13px 21px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}
.item_name {
    position: relative;
    padding-right: 15px;
    padding-top: 5px;
    font-size: 14px;
}
.item_name::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 7px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #00bfd6;
    border-style: solid;
    border-width: 7px 0 0 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-track{
 margin-right:0px !important;
}
.empty_message{
    color:red;
    text-align:center;
    padding-top:40px;
    padding-bottom:30px;
}
.feedback-hint{
    background:#ef5662;
    font-size:13px;
    color:#fff;
    z-index:10000;
    padding:9px 25px;
    position:absolute;
    right:100%;
    bottom:100%;
    margin-right:-150px;
    margin-bottom:10px;
    white-space: nowrap;
    display:none;
}
#auth_box .alert-success{
    text-align:right;
    font-size: 13px;
    display:flex;
    justify-content:space-between;
}
.feedback-hint::before{
    border-color:#ef5662 transparent transparent transparent;
    border-style:solid;
    content:"";
    border-width:10px 12px 0px;
    position:absolute;
    top:100%;
    right:35px;
}
.custom-alert{
    border-radius: 0px !important;
    margin-top: 10px;
}
.validate_error_border{
    border:1px solid #ef5662 !important;
}
#resend_active_code{
    font-size:14px;
    cursor:pointer;
    margin-top:10px;
    margin-bottom:10px;
}
#remember {
    display: none;
}
.check_box {
    width: 19px;
    height: 18px;
    border-radius: 4px;
    background:#fff;
    display: block;
    border: 1px solid #d8d8d8;
    float: right;
}
.check_box.active {
    background-color: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}
.check_box.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F00C";
    display: block;
    color: white;
    margin-right: 1px;
}
.register_accept{
    font-size:14px;
    line-height:30px;
}
.register_accept .check_box{
    margin-left:10px;
    margin-top:10px;
}
.page_row{
    display:flex;
    margin-left:10px;
    margin-right:10px;
}
.page_content{
    flex: 0 0 71.5%;
    max-width:71.5%;
    padding-right:0px;
    padding-left:10px;
}
.page_aside{
    flex: 0 0 28.5%;
    max-width:28.5%;
    padding-left:0px;
    padding-right:10px;
}
.cart_table{
    background:white;
    width:100%;
    margin-top:20px;
    border:1px solid #e8e8e8;
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
}
.cart_table tr{
    padding:15px;
    display:block;
    border-bottom:1px solid #e8e8e8;
}
.cart_table tr td .fa-close{
    cursor:pointer;
    background:#f5f5f5;
    padding:5px;
    border-radius:20px;
    -webkit-border-radius:20px;
    font-size:14px;
}
.cart_table tr td:nth-child(2){
    width:20%;
}
.cart_table tr td:nth-child(2) img{
    width:70% !important;
    margin:auto;
    display:block;
}
.cart_table tr td:nth-child(3){
    width:49%;
}
.cart_table ul li{
    list-style:none;
    font-size:14px;
    padding-top:5px;
    position:relative;
}
.cart_table ul li .ui_variant_shape{
 margin-right:10px !important;
}
.cart_table ul li.title{
    font-size:17px !important;
    padding-bottom:20px;
}
.cart_table tr td:nth-child(4){
    width:10%;
    text-align:center;
}
.cart_table tr td:nth-child(5){
    width:25%;
    text-align:center;
}
.order_info{
    background:white;
    width:100%;
    margin-top:20px;
    border:1px solid #e8e8e8;
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
}
.order_info ul li{
    list-style:none;
    padding:10px;
}
.order_info ul li .left{
    float:left;
}
.message_div{
    background: rgba(225, 225, 225, 0.5);
    width:100%;
    position:fixed;
    right:0px;
    left:0px;
    bottom:0px;
    top:0px;
    z-index:10000;
}
.message_box{
    background:white;
    width:360px;
    height:135px;
    position:absolute;
    right:0px;
    left:0px;
    bottom:0px;
    top:0px;
    margin: auto;
    font-size:16px;
    padding:20px;
    border-radius:4px;
    -webkit-border-radius:4px;
    text-align:center;
    box-shadow:0 1px 4px 0px rgba(0,0,0,.1);
}
.message_box #msg{
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-size:15px !important;
}
.message_box .alert{
    padding:5px 30px 5px 30px !important;
    cursor:pointer;
    font-size:14px !important;
}
.message_box .alert-danger{
    margin-right:10px;
}
.empty_cart_div{
    height:300px;
    text-align:center;
}
.empty_cart_div .fa-shopping-basket{
    font-size:40px;
    color:#ff6c3f;
    margin-top: 100px;
}
.empty_cart_div p{
    margin-top:10px;
}
.order_info ul{
    margin-top:20px;
}
.cart_discount_li {
    color: #009ec9;
}
.checkout_devider{
    width:96%;
    margin:2%;
    height:4px;
    border:1px solid #e6e6e6;
}
.checkout_content{
    text-align:center;
    font-size:17px;
    padding-top:10px;
}
.send_btn.checkout{
    margin:10px auto 20px auto;
}
.cart_table .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width:60px !important;
    margin-top: 10px;
}
.bootstrap-select .btn-light .filter-option{
    text-align:right !important;
}
.send_btn.checkout .line::before{
    content: "\F060" !important;
}
.order_header{
    width:100%;
    height:140px;
    background:white;
}
.checkout_steps{
    display:flex;
    position:relative;
    justify-content:space-between;
    width:783px;
    margin:30px auto;
}
.checkout_steps li{
    list-style:none;
    position:relative;
}
.step_item{
    width:20px;
    height:20px;
    position:relative;
    border-radius:100%;
    -webkit-border-radius:100%;
    background-color:#d0d0d0;
    text-align:center;
}
.inactive::before{
    content:"";
    position:absolute;
    background-color:#d0d0d0;
    width:382px;
    height:3px;
    top:50%;
    left:0px;
}
.checkout_steps .active::before{
    content:"";
    position:absolute;
    background-color:#00bfd6;
    width:382px;
    height:3px;
    top:50%;
    left:0px;
}
.payment_box{
    padding-bottom:17px !important;
}
.shipping_data_box .header_box{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    padding:9px;
    display: inline-flex;
    width:100%;
    font-size: 13px;
    position: relative;
}
.shipping_data_box .header_box div{
    width:25%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #858585;
}
.shipping_data_box .header_box div span{
    display: block;
    font-weight: bold;
    padding-top:10px;
    padding-left: 30px;
}
.shipping_data_box .header_box::after{
    content: "\F107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top:38%;
    left: 20px;
    font-size: 30px;
    color: #c6c6c6;
}
.active_item{
    background-color:#00bfd6;
}
.step_item::before{
    content: attr(step-title);
    font-size:13px;
    position:absolute;
    top:-25px;
    left:50%;
    transform: translateX(-50%);
    white-space:nowrap;
}
.shop_icon{
    width:130px;
    height:100px;
    display:block;
    margin:auto;
}
.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.modal-lg, .modal-xl{
    max-width:900px !important;;
}
#add_address_box .textArea{
    resize:none;
    height:110px;
    width:100%;
    padding:5px;
    font-size:14px;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
}
#add_address_box  .input_label input{
    padding-right:10px !important;
}
#add_address_box .bootstrap-select .btn{
    background:white !important;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    padding: 0.375rem 0.75rem !important;
}
#add_address_box .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width:100% !important;
    margin-top:0px !important;
}
#add_address_box .bootstrap-select .dropdown-menu.inner{
    font-size:14px;
    text-align:right;
}
#add_address_box .account_title{
    font-size:14px !important;
    padding-bottom:5px;
}
#select_location_btn{
    margin-top:-50px;
    position:absolute;
    left:30px;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.modal-header .close {
    padding:0px !important;
    margin: 0px !important;
}
#add_address_box .btn-primary {
    font-size: 14px;
    height: 45px !important;
    line-height: 30px;
}
.feedback-hint.active{
    display:block;
}
.address_box{
    width:100%;
    background:white;
    margin-bottom:20px;
}
.box_border{
    padding:15px;
    border:1px solid #e8e8e8;
}
.address_row{
   margin:20px auto;
    width:100%;
    padding-top:10px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:1px solid #e8e8e8;
    box-shadow: 0 8px 13px -7px rgba(0,0,0,.05);
}
.address_row h6{
    margin-top:10px;
    padding:10px 15px 0px 10px;
}
.address_row ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding-left:10px;
    padding-right:8px;
    color:#a0a0a0;
    line-height:2;
}
.address_row .checkout_address{
    margin-right:15px;
    margin-top: 15px;
    margin-bottom:10px;
    color: #a0a0a0;
}
.address_row ul li{
    list-style:none;
    padding-left:15px;
    font-size:15px;
}
.address_btn{
    color:#636363;
    font-size:14px;
    line-height:21px;
    text-align:center;
    padding:6px 25px;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#e3e3e3;
    cursor:pointer;

}
.add_address_btn{
    width:98%;
    margin:auto;
    border:4px dashed #b8b8b8;
    background:#FFF;
    min-height:70px;
    display:flex;
    justify-content:center;
    color: #a0a0a0;
    letter-spacing: -0.3px;
}
.add_address_btn strong{
    font-size:20px;
    padding:14px 22px;
}
.add_address_btn strong::before{
    content:"\F067";
    padding-left:5px;
    font:normal normal normal 14px/1 FontAwesome;
}
.select_address_label{
    display:flex;
    justify-content: space-between;
    padding:15px 10px;
}
.select_address_label .fa-close{
    border:2px solid #8d8d8d;
    height:30px;
    width:30px;
    border-radius:30px;
    -webkit-border-radius:30px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#8d8d8d;
}
.default_address{
    padding-top:0px !important;
    margin-top:0px !important;
    position:relative;
}
.default_address h6{
    margin-top:0px !important;
}
.default_address::before{
    width:5px;
    background:#8dd4dc;
    position:absolute;
    top:0px;
    bottom:0px;
    content:"";
    right:-1px;
}
.default_address ul{
    justify-content: right !important;
    margin-top:10px;
}
.change_address_btn{
    position:absolute;
    left:0px;
}
.checkout_contact{
    width:41px;
    height:41px;
    background-color: #fefeff;
    border:1px solid #8dd4dd;
    box-shadow: 0 8px 9px 0 rgba(0,0,0,.05);
    border-radius:50%;
    -webkit-border-radius:50%;
    position:absolute;
    top:calc(50% - 20px);
    right:-20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.checkout_contact::before{
    content:"\F00c";
    font: normal normal normal 14px/1 FontAwesome;
    color: #00bfd6;
}
.checkout_address_btn{
    background-color: #f5f5f5;
    width:100%;
    padding:6px 0px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e0e0e0;
    color: #636363;
    font-size:13px;
    cursor:pointer;
}
.selected_address{
    background-color:#f7fdfd !important;
    border-top-color:#e0eff0 !important;
}
#loading_box{
    background-color: rgba(209, 209, 209, 0.49);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    z-index:10000;
    display: none;
}
.loading_div{
    width:300px;
    height:160px;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    background:white;
    text-align:center;
}
.loading_div img{
    margin:15px auto;
    width:120px;
    display:block;
}
.spinner{
    width:90px;
    margin:auto;
    text-align:center;
}
.spinner div{
    width:15px;
    height:15px;
    background-color: #ff7ca7;
    border-radius:100%;
    -webkit-border-radius:100%;
    display: inline-block;
    animation: spinner 1.4s infinite;
}
.spinner .b1{
    animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
}
.spinner .b2{
    animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
}
.shipping_data_box{
    width:100%;
    background-color: #fff;
    border:1px solid #e0e0e0;
    box-shadow: 0px 8px 13px -7px rgba(0,0,0,.05);
    margin:20px auto;
    font-size:14px;
    padding:20px 40px 10px 30px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
}
.radio_check{
    cursor:pointer;
    width:15px;
    height:15px;
    border:1px solid #ccc;
    border-radius:100%;
    -webkit-border-radius:100%;
    position:absolute;
    margin-top:4px;
    right:15px;
}
.active_radio_check::before{
    content:"";
    width:11px;
    height:11px;
    border-radius:inherit;
    -webkit-order-radius:inherit;
    background-color:#00bfd6;
    position:absolute;
    top:1px;
    left:1px;
}
@keyframes spinner {
    0% {transform: scale(0)}
    40% {transform: scale(1)}
    100% {transform: scale(0)}
}
@-webkit-keyframes spinner {
    0% {-webkit-transform: scale(0)}
    40% {-webkit-transform: scale(1)}
    100% {-webkit-transform: scale(0)}
}
.shipping_data_box .product_info_box{
    width:180px;
    margin-top:10px;
}
.shipping_data_box .product_info_box img{
    width:120px !important;
    margin:auto;
    display:block;
}
.checkout_image{
    width:49px;
    height:40px;
    background-image: url("../files/images/d86ea8ec.svg");
    cursor:pointer;
    position: absolute;
    margin-top:10px;
    background-position:50%;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:contain;
}
.checkout_time{
    margin-right:70px;
}
.checkout_time span{
    font-size:12px;
}
.swiper_product_box{
    margin-bottom:10px;
    border-bottom:1px solid #e0e0e0;
    width:100%;
}
.headline-checkout{
    padding-top:20px;
}
.headline-checkout h6{
    margin:15px;
}
.swiper-button-prev,.swiper-button-next{
    background-image: none !important;
    width:40px !important;
    height:40px;
    cursor:pointer;;
    background-color:#fff;
    border-radius: 100%;
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.07);
    display:flex;
    justify-content: center;
    align-items: center;
}
.swiper_product_box .product_info_box p {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.692;
    font-weight: 700;
    letter-spacing: -.4px;
    color: #858585;
    margin-bottom: 0px !important;
}
.product_color_name{
    margin-top: 5px !important;
    padding-bottom:5px;
}
.swiper-button-prev::before{
    content:"\F105";
    display: inline-block;
    font-family: FontAwesome;
    font-size:25px;
}
.swiper-button-next::before{
    content:"\F104";
    display: inline-block;
    font-family: FontAwesome;
    font-size:25px;
}
.form-check-input{
    display:none;
}
.checkout_action{
    display: flex;
    justify-content: space-between;
    padding-bottom:30px;
}
.checkout_action li{
    list-style: none;
}
.ordering_product_list{
    width:100%;
    margin-bottom: 10px;
    display: none;
}
.ordering_product_list .product_title{
    height: 60px;
}
.ordering_product_list .product_color{
    color: #b9b9b9 !important;
}
.profile_menu{
    background-color: #fff;
    margin-bottom:20px;
    margin-top:20px;
    border:1px solid #dedede;
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
}
.profile_menu_title{
    display: block;
    padding:20px;
    color: #858585;
}
.order_table_info{
    width:95% !important;
    margin:30px auto !important;
}
.order_table_info tr td{
    color: #bababa;
    width:50%;
}
.order_table_info tr td span{
    color: black !important;
    width:100%;
    display: block;
}
.order_info_div{
    width:95%;
    margin:20px auto;
    border:1px solid #e5e5e5;
}
.order_info_div .header{
    background-color: #fcfef5;
    border:1px solid #cfe3bb;
    color: #b1d58b;
}
.product_list_data{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    border:1px solid #e7e7e7;
}
.product_list_data tr th{
    background-color:#85b3be;
    color:white;
    font-size:14px;
    text-align:center;
    border-right-color: #85b3be;
}
.product_list_data tr  td{
    border-left:1px solid #e7e7e7;
    text-align:center;
    vertical-align: middle;
}
.product_list_data .product__info{
    width:35%;
}
.product_list_data .product__info div{
    display: inline-flex;
}
.product_list_data .product__info div ul{
    font-size:14px;
    color: #6e6e6e !important;
    width: calc(100% - 105px);
}
.product_list_data .product__info div img{
    width:100px;
    height:100px;
}
.product_list_data .product__info div ul li{
    list-style:none;
    padding-top: 5px;
    text-align: right !important;
    line-height: 22px;
}
.step_inactive{
    filter: grayscale(100%);
}
.order_steps{
    width: 95%;
    margin:20px auto;
}
.step_div{
    width:100%;
    text-align:center;
    font-size:13px;
}
.step_div span{
    padding-top:15px;
}
.order_steps img{
    width:90%;
    margin: auto;
    display: block;
}
.order_steps  hr{
    min-width: 66px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
    opacity: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 5px;
    position:relative;
}
.order_steps .swiper-slide{
    display: flex;
    align-items: center;
}
.order_steps  hr::before{
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #e5e5e5;
    border: 4px solid #fff;
    position: absolute;
    top:calc(50% - 13px);
    left:calc(50% - 13px);
}
.hr_active{
    background-color: #81d7e2 !important;
}
.hr_active::before{
    background-color: #81d7e2 !important;
}
.payemnt_warning{
    width:95%;
    margin:10px auto;

}
.payemnt_warning span{
    display: block;
}
.product_list_table{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    border:1px solid #e7e7e7;
    text-align: center;
}
.product_list_table tr th{
    background-color: #85b3be;
    color: white;
    font-size: 14px;
    border-right-color: #85b3be;
}
.product_list_table tr td{
    border-left: 1px solid #e7e7e7;
    vertical-align: middle;
    height: 75px;
}
.profile_menu_ul li{
    list-style: none;
    padding: 10px 30px;
}
.profile_menu_ul li a{
    color: #5e5e5e;
    font-size: 14px;
}
.profile_menu_ul li a .fa{
    font-size:20px !important;
    margin-left: 10px;
}
.profile_menu_ul .active_li{
    background-color: #f6ffff !important;
}
.profile_menu_ul .active_li a{
    color: #009ec9 !important;
}
.profile_menu_header{
    padding:15px 30px;
    border-bottom:1px solid #f3f3f3;
    font-weight: 700;
    letter-spacing: .2px;
    color: #535353;
}
.shipping_data_box_title{
    font-weight: bold;
    font-size: 18px;
}
.discount_input{
    width: calc(100% - 130px);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 45px;
}
.discount_btn{
    width: 130px !important;
    height: 45px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #41a7b4;
    border-color:#41a7b4;
    font-size: 14px;
}
.discount_btn:hover{
    background-color: #41a7b4;
    border-color:#41a7b4;
}
.discount_btn:focus{
    background-color: #41a7b4;
    border-color:#41a7b4;
}
.gift_li{
    display: none;
}
.discount_li{
    display: none;
}
.product_list_table tr td .fa-angle-left {
    font-size: 30px !important;
}
.map_ul{
    display: inline-flex;
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.map_ul li{
    font-size: 14px;
    color: grey;
    padding-left: 5px;
}
.map_ul li a{
    color: grey;
}
.child_cat_div{
    background-color: white;
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
    border: 1px solid #e8e8e8;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.child_cat_div ul li{
    list-style: none;
    font-size: 14px;
    padding: 7px 30px;
    position:relative;
}
.child_cat_div ul li a{
    color: #666666;
}
.child_cat_div ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #dbdbdb;
    display: block;
    top:13px;
    position: absolute;
    right: 10px;
}
.child_cat_div .cat_name {
    margin-top: -40px;
    color: white;
    margin-right: 15px;
}
.child_cat_div img {
    width: 97%;
    margin: 5px auto;
    display: block;
}
.item_box{
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
    border:1px solid #dedede;
    background-color: white;
    width:100%;
    margin-bottom: 20px;
}
.item_box label{
    font-size: 14px;
    margin-bottom: 0px !important;
}
.title_box{
    width:95%;
    margin: auto;
    padding: 11px 5px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title_box .fa-angle-down{
    font-size: 22px !important;
}
.title_box .fa-angle-up{
    font-size: 22px !important;
}
.item_box ul li{
    color: grey;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
}
.filter_box{
    border: 1px solid #f2f2f2;
    display: none;
}
.item_box ul li .title {
    padding-right: 5px;
}
.search_product_div.product_list{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
}
.product_div{
    width: 33.333%;
    border-left: 1px solid #dedede;
    cursor: pointer;
    color: grey;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
}
.product_div img{
    width: 55%;
    margin: 10px auto;
    display: block;
}
.ename{
    float: left;
    font-size: 12px !important;
    padding-left: 10px;
}
.info{
    padding: 10px 15px;
}
.info a .title{
    color: black;
    height: 55px;
}
.filter_price_ul{
    display: inline-flex;
    width: 100%;
    padding-top: 0px !important;
    border-bottom: 1px solid #dedede;
    padding-bottom: 0px !important;
}
.info .product_status{
    padding-bottom: 10px;
    min-height: 80px;
    display: flex;
    align-items: center;
}
.info .product_status div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.info .product_status div span {
    position: absolute;
    top: -10px;
    width: auto;
    background: white;
    padding-right: 5px;
    padding-left: 5px;
    color: gray;
}
.info .product_status div .line{
    width: 100%;
    height: 1px;
    margin: 0px !important;
    background: grey;
}
.filter_price_ul li{
    width: 50%;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
}
.filter_price_ul li:first-child{
    border-left: 1px solid #dedede;
}
.filter_price_ul li .price{
    background-color: #f0f0f0;
    width: 100px;
    margin: 10px auto;
    color: grey;
}
.price_rang_slider {
    width: 90% !important;
    margin: 30px auto !important;
    height: 7px !important;
}
.noUi-connect {
    background: #2196F3 !important;
}
.noUi-handle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.noUi-handle::after, .noUi-handle::before {
    background: none;
}
.noUi-handle-upper::before {
    font-family: FontAwesome;
    content: "\F105" !important;
    font-size: 20px;
    top: -2px !important;
    left: 13px !important;
}
.noUi-horizontal .noUi-handle {
    top: -11px !important;
}
.noUi-handle-lower::before {
    font-family: FontAwesome;
    content: "\F104" !important;
    font-size: 20px;
    top: -2px !important;
    left: 12px !important;
}
.range_slider_div {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #dedede;
    direction: ltr;
}
#price_filter_btn{
    background-color: #2196F3 !important;
    border:1px solid #2196F3;
    margin: 10px auto;
    font-size: 14px;
    display: block;
}
.color_box{
    position: absolute;
    margin-right: 10px;
}
.color_box li{
    height: 15px !important;
}
.color_box li label{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border:1px solid rgba(128, 128, 128, 0.24);
}
.color_box li .fa-plus{
    font-size: 11px !important;
    color:#000;
}
.discount_div {
    font-size: 16px !important;
    margin-bottom: 10px;
    color: #acacac !important;
    min-height: 30px;
}
.info .price {
    color: black !important;
    font-size: 18px;
    text-align: left !important;
    position: relative;
    padding-bottom: 10px;
    min-height: 80px;
}
.price .discount-badge {
    left: 0px;
    top: 0px;
    font-size: 16px !important;
    position: relative;
    padding: 3px 15px !important;
}
.not_fount_product_message{
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border:2px dashed grey;
}
.product_list_box{
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
    border: 1px solid #dedede;
    background: white;
    width: 100%;
    min-height: 300px;
    margin-top:15px;
}
.product_list_box .header{
    width: 100%;
    border-bottom: 1px solid #dedede;
}
.product_list_box .header ul{
    display: inline-flex;
    font-size: 14px;
    margin: 0px !important;
}
.product_list_box .header ul .fa-sort-amount-asc{
    padding-left: 10px;
}
.color_div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.shop_name{
    height:50px;
    align-items: center;
    display: flex;
    border-top:1px solid #dedede;
    padding-right: 15px;
}
.color_filter_ul li{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.item_box #search_input{
    font-size: 13px;
    width: 95%;
    margin: 10px auto;
    background: #f8f8f8;
    border:1px solid transparent;
    padding: 10px;
    display: block;
}
.product_list_box .header ul li{
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
.product_list_box .header ul .active{
    background: #00bfd6;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.toggle_box {
   display: flex;
  align-items: center;
}
.toggle_box #product_status{
    margin:10px;
}
.toggle_box #send_status{
    margin:10px;
}
.toggle_box span{
    font-size: 13px;
}
.toggle-light .toggle-off, .toggle-light .toggle-select .toggle-on{
    background: #00bfd6 !important;
}
#selected_filter_box{
    display: flex;
    flex-wrap: wrap;
}
.selected_filter_item{
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    display: table;
    color:#5a5a5a;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
}
.selected_filter_item .fa-close{
    padding-right:5px;
    padding-left:5px;
}
.search_category_ul{
    margin-right: 20px !important;
}
.search_category_ul li{
    list-style: none;
}
.search_category_ul .parent:before{
    content: "\F104";
    font-family: FontAwesome;
    padding-left:5px;
}
.search_category_ul li a{
    font-size: 13px;
}
.search_category_ul li ul{
    padding-right: 10px;
}
#product_box .col-3{
    flex: 0 0 23%;
    max-width: 23%;
    padding-right: 0px !important;
}
#product_box .col-9{
    flex: 0 0 77%;
    max-width: 77%;
    padding: 0px !important;
}
#brand_search{
    width: 95%;
    margin: 15px auto;
    font-size: 13px !important;
    display: block;
    padding: 7px 25px;
}
#brand_search:focus{
    box-shadow: none !important;
}
.filter_brand_div{
    position: relative;
}
.filter_brand_div::before{
    content: "\F002";
    font-family:FontAwesome;
    position: absolute;
    top:23px;
    right: 5%;
}
.brand_info img{
    display: block;
    margin:20px auto;
}
.brand_info p{
    text-align: center;
}
.brand_info p a{
    font-size: 12px;
    color: #7a7a7a;
}
.compare_product_list{
    position: fixed;
    bottom: 15px;
    left: 35px;
    background: white;
    border:1px solid #eaeced;
    z-index: 100;
    padding-bottom:20px;
}
.compare_product_list ul{
    width: 265px;
}
.compare_product_list ul li{
    list-style: none;
    font-size: 11px;
    margin: 10px;
    display: inline-flex;
}
.compare_product_list ul li img{
    width: 55px;
}
#compare_list div{
    position: fixed;
    bottom: 25px;
    left: 45px;
    z-index: 200;
    background: #2196F3;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
.compare_item_list{
    width:100%;
    margin: auto;
    padding-bottom: 20px;
    position:relative;
}
.compare_item_list .content{
    background: white;
}
.compare_ul li{
    list-style: none;
}
.compare_ul .title{
    background-color: #f0f2f3;
    padding:10px;
}
.compare_ul .value{
    display: inline-flex;
    width: 100%;
}
.compare_ul .value div{
    width: 25%;
    padding: 15px;
}
.compare_title{
    padding-right: 12px;
}
.compare_title:before{
    content:"";
    position: absolute;
    right: 0px;
    width: 0px;
    height: 0px;
    border-color: transparent #00bfd6 transparent transparent;
    border-style: solid;
    border-width: 7px;
    top:13px;
}
.left_border{
    border-left: 1px solid #eaeced;
}
.gallery_box{
    width: 25%;
    border-left: 1px solid #eaeced;
    height: 360px;
    position: relative;
}
.gallery_box .swiper-slide{
    height: 150px;
}
.compare_gallery_pic{
    margin: auto;
    width: 90%;
    max-height: 100%;
    display: block;
}
.compare_product_gallery{
    width: 100%;
    display: inline-flex;
    z-index: 10;
    background: white;
    position: sticky;
    top:0px;
}
.compare_tag{
    height: 30px;
}
.compare_tag p{
    display: none;
    width: 80px;
}
.compare_box{
    width: 96%;
    margin: auto;
    position: relative;
}
.empty_compare_list{
    position: absolute;
    bottom:10px;
    right: 20px;
    font-size: 14px;
    color: red;
    cursor: pointer;
}
.compare_title {
    position: relative;
    margin-right: 0px;
    padding: 10px;
}
.remove_product_of_compare_list{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top:8px;
    left: 12px;
    z-index: 10;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gallery_box .swiper-container{
    margin-top:40px;
    margin-bottom: 20px;
}
.gallery_box .title{
    width: 90%;
    margin: auto;
    height: 40px;
}
.gallery_box .title a{
    font-size: 13px;
    color: grey !important;
}
.gallery_box .price{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery_box .btn-primary{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    margin: 15px auto;
    font-size: 14px;
    display: table;
}
.compare_add{
    width: 25%;
    height: 360px;
    position: relative;
}
.compare_add .add{
    width: 87%;
    margin:40px auto;
    color: #b3b3b3;
    cursor: pointer;
    background: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border:5px dashed #d2d2d2;
    display: block;
    height: 220px;
}
.compare_add .btn-dark{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    margin: 15px auto;
    font-size: 14px;
    display: table;
}
.select_product_for_compare{
    width:260px;
    border:1px solid #e9e9e9;
    margin:10px;
    border-radius:6px;
    -webkit-border-radius:6px;
    cursor:pointer;
}
.select_product_for_compare p{
    padding: 10px;
    font-size: 13px;
    height: 60px;
}
.select_product_for_compare img{
    width: 50%;
    margin: 15px auto;
    display: block;
}
.product_list .modal-body {
    max-height: 450px !important;
    overflow-y: auto;
}
.product_list .modal-content .header{
    background-color:#ececec;
}
.product_list .modal-content .header .input-group{
    margin-top: 20px;
}
.product_list .header .form-control {
    text-align: right !important;
    font-size: 15px;
    height: 45px;
    padding-right: 40px;
}
.product_list .header .input-group.mb-3::before {
    content: "\F002";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.header .input-group-prepend {
    background: white !important;
}
.header .input-group-prepend .btn-outline-secondary {
    width: 100%;
    border: 1px solid #ced4da !important;
    font-size: 15px;
}
.header .input-group-prepend .btn-outline-secondary:focus{
    box-shadow: none !important;
}
.dropdown-item {
    cursor: pointer;
}
.product_list .header .dropdown-item{
    font-size: 14px;
    text-align: right;
}
.product_offer_box{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fb3449;
    font-size: 12px;
}
.product_offer_box img{
    margin-right:10px !important;
    margin-top: 15px !important;
    height: 15px !important;
    margin-bottom: 12px;
}
.product_offer_div{
    height: 47px;
    margin-bottom: 5px;
}
.paginate_div{
    width: 100%;
    float: right;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.product_offer_box .c-counter{
    font-size: 15px;
    color: #fb3449 !important;
    margin-top: 10px;
}
.product_offer_box .c-counter span{
    width: 25px;
    display: block;
    text-align: center;
    margin-top: 2px;
}
.page-item.active .page-link{
    background-color: #00bfd6;
    border-color: #00bfd6;
}
.pagination .page-link {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.pagination .page-link .active{
    color: white;
}
.compare_product_list .fa-close{
    width:30px;
    height: 25px;
    background: #f5f5f5;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#remove_all_filter{
    color:red;
    font-size: 14px;
}
.review_image{
    width: 80%;
    margin: 30px auto;
    display: block;
}
.review_box{
    width: 95%;
    margin: 40px auto;
    position: relative;
}
.review_box .item_row{
    position: relative;
    padding-bottom: 10px;
}
.review_box .item_row::before{
    content:"";
    background: #eee;
    width: 1px;
    position: absolute;
    bottom: 0px;
    top:43px;
    right: 18px;
}
.review_box .item_row .content{
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
}
.review_box .item_row h3{
    padding-right: 45px;
    font-size: 18px;
    padding-top: 8px;
}
.expert_button{
    width: 38px;
    height: 32px;
    background-color: #a7a9a9;
    position: absolute;
    right: 0px;
    top:0px;
    color: #fff;
    border:none;
    border-radius: 0px 15px 15px;
    -webkit-border-radius: 0px 15px 15px;
}
.item_tozihat{
    max-width: 50%;
    float: left;
}
.expert_button:before{
    content:"\F068";
    font-family: FontAwesome;
    color: white;
}
.plus_btn::before{
    content:"\F067" !important;
}
.review_tozihat{
    padding-bottom: 30px;
}
.review_box .block{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 40px 150px 40px 121px;
    position: relative;
    font-size: 16px;
    background-color: #fbfbfb;
    line-height:30px;
}

.review_box .block::before{
    background: url("../files/images/e8f55a97.svg") no-repeat;
    content:"";
    height: 55px;
    width: 69px;
    position: absolute;
    top:20px;
    right: 56px;
}
.review_box .block::after{
    left: 44px;
    bottom: 10px;
    position: absolute;
    content:"";
    height: 55px;
    width: 69px;
    background: url("../files/images/3f51c9a0.svg") no-repeat;
}
.tozihat{
    margin-bottom: 50px;
    background: #fcfcfc;
    padding-bottom: 40px;
    padding-left:20px;
}
.tozihat::after{
    width: 165px;
    height: 165px;
    position: absolute;
    content:"";
    top:110px;
    right: 81px;
    background: url("../files/images/025314f5.svg") no-repeat;
}
.tozihat .content{
    padding-right: 300px;
    text-align: justify;
    line-height:35px;
    position: relative;
}
.tozihat .content div{
    max-height: 250px;
    overflow: hidden;
}
.more_content{
    position: absolute;
    width: calc(100% - 300px);
    bottom:0px;
    background: #fcfcfc;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.more_content span{
    border-bottom: 1px dashed #2196f3;
    display: table;
    font-size: 14px;
    color:#2196f3;
}
.more_content::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    opacity: 1;
    bottom: 30px;
    height: 105px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(99%, hsla(0, 0%, 98.8%, .99)), to(#fcfcfc));
    background: linear-gradient(180deg,
    hsla(0, 0%, 100%, 0), hsla(0, 0%, 98.8%, .99) 99%, #fcfcfc);
}
.show_short_content{
    background: none;
    bottom: -15px;
}
.show_short_content::after{
    content: "";
    height: 0px !important;
}
.review_box .headline{
    color: #6f6f6f;
    letter-spacing: -0.3px;
    font-weight:500;
    line-height: 40px;
}
.review_box .headline span{
    display: block;
    font-size: 16px;
}
.product_info{
    width: 100%;
    background: white;
    display: inline-flex;
}
#comment_form{
    width: 100%;
}
#score_box .col-md-4 img{
    width: 85%;
    margin: 50px auto;
    display: block;
}
.score_box_header{
    padding: 20px 0px;
    border-bottom: 1px solid #f2f2f2;
}
.score_box_header .title{
    font-size: 17px;
    line-height: 32px;
    color:#494949;
}
.score_box_header .title p{
    padding-right: 20px;
}
.rang_box{
    position: relative;
    margin-top: 30px;
}
.rang_box input[type="range"]{
    width: 315px !important;
    position: absolute;
    top:19px;
    right: -10px;
    z-index: 10;
    margin-top:12px;
    background: transparent;
}
.rang_box input[type="range"]::-moz-focus-outer{
    border:0px;
}
.rang_box input[type="range"]::-moz-range-thumb{
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 2;
    background-color: #35ccde;
    cursor: pointer;
    border:2px solid #fcfcfc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.rang_slider_div{
    width: 300px;
    background: #d5d5d5;
    position: relative;
    height: 5px;
    margin-top: 10px;
}
.rang_slider_div::before{
    position: absolute;
    right: 100%;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 13px;
    content:attr(data-rate-title);
    margin-right: 27px;
}
.active_rang_slider{
    right: 0px;
    left: 50%;
    position: absolute;
    background-color: #35ccde;
    height: 6px;
}
.active_rang_step{
    background-color: #35ccde !important;
}
.rang_box label{
    font-size: 13px;
}
.js-slider-step{
    position: absolute;
    width: 12px;
    height: 12px;
    z-index:2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: silver;
    cursor: pointer;
    border:2px solid #fcfcfc;
    top:50%;
    transform: translateY(-50%);
}
.slider_step_three{
    right:calc(25% - 6px);
}
.slider_step_four{
    right:calc(50% - 6px);
}
.slider_step_five{
    right:calc(75% - 6px);
}
.discount_cart_div{
    font-size:13px;
}
.slider_step_six{
    right:calc(100% - 6px);
}
.score_comment_form{
    width: 95%;
    margin: auto;
}
.positive_item{
    padding-right: 24px;
}
.positive_item:before{
    content:"";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    right: 7px;
    top:6px;
    background: #00bfd6;
}
.negative_item{
    padding-right: 10px;
}
.negative_item:before{
    content:"";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    right: 7px;
    top:6px;
    background: #f33449;
}
.input_add_point{
    margin-bottom: 20px;
    position: relative;
}
.input_add_point input[type="text"]{
    border-radius: 5px;
    border:1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
}
.score_comment_form textarea{
    width: 100%;
    height: 150px;
    resize: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-weight: 400;
    padding: 10px;
    margin-top: 20px;
}
.score_comment_form .form-control{
    padding-right: 10px !important;
}
.add_comment_btn{
    font-size: 15px;
    line-height: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    padding: 14px 31px;
    color: #fff;
}
.add_comment_tozihat{
    border-right: 1px solid #ededed;
    padding: 40px 50px;
}
.add_comment_tozihat h4{
    margin-bottom: 45px;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.5px;
}
.input_add_point button{
    width: 48px;
    height: 100%;
    background: none;
    border: none;
    position: absolute;
    left: 0px;
    top:0px;
    padding: 0px;
    cursor: pointer;
    display: none;
}
.input_add_point button::before{
    content:"\F0FE";
    font-family:FontAwesome;
    font-size: 22px;
    position: absolute;
    top:7px;
    left: 13px;
    color: #878787;
}
.score_comment_form .item_list div{
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#advantage_input_box div{
    background-color: #edf6f7;
    color:#3a8c96;
}
#disadvantage_input_box div{
    background-color: #fff3f4;
    color:#fb3449;
}
.comment_box .rating_ul{
    margin-top: 56px;
    padding-right: 0px !important;
}
.comment_box .rating_ul li{
    list-style: none;
    display: flex;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
}
.comment_box .rating_ul li label{
    width: 170px !important;
}
.comment_box .rating{
    position: relative;
    height: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eaeaea;
    width: calc(100% - 220px);
    margin-top: 9px;
}
.comment_box .rating::before{
    content:attr(data-rate-digit);
    position: absolute;
    right: 100%;
    margin-right: 11px;
    color: #6f6f6f;
    font-size: 13px !important;
    bottom: -6px;
}
.rating-value{
    background-color: #00bfd6;
    height: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.comment_box{
    font-size: 15px;
    margin: 20px;
}
.comment_box h2{
    letter-spacing: -.6px;
    color:#6f6f6f;
    font-size: 18px;
    font-weight: bold;
}
.comment-summary_note{
    padding-right: 30px;
    padding-left: 30px;
    line-height: 25px !important;
}
.comment-summary_note span{
    color: #5a5a5a;
    letter-spacing: -.4px;
    margin-bottom: 20px;
    display: block;
    font-size: 19px;
}
.comment-summary_note a{
    color: white !important;
    background-color: #00bfd6 !important;
    border-color: #00bfd6 !important;
    border-radius: 0px !important;
    letter-spacing: -.4px;
}
.message_purchased{
    background-color: #fcfef5;
    border: 1px solid #cfe3bb;
    color: #b1d58b;
    display: table;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 14px;
}
.message_purchased a{
    color: black;
}
.comment_div{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fcfcfc;
    border: 1px solid #f3f3f3;
    padding: 57px 30px 30px;
    margin-bottom: 20px;
}
.comment_box .comment_content{
    color: #505050;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.evaluation_ul{
    margin-top: 5px;
    padding-right: 0px !important;
}
.evaluation_ul li{
    list-style: none;
    position: relative;
    font-size: 14px;
}
.evaluation_ul li span{
    margin-right: 15px;
}
.evaluation_ul li::before{
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    content:"";
    top:5px
}
.evaluation_ul.advantage li::before{
    background-color: #00bfd6;
}
.evaluation_ul.disadvantage li::before{
    background-color: #fb3449;
}
.btn_like{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 5px 13px;
    color: #8c8c8c;
    font-size: 14px;
    margin-right: 20px;
}
.btn_like::before{
    margin-left: 7px;
    color: #7a7a7a;
    font-size: 15px !important;
    content: attr(data-count);
}
.comment_div .footer{
    margin-top: 20px;
}
.feq_filter{
    display: flex;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
}
.feq_filter_item{
    display: flex;
    margin: 0px !important;
}
.feq_filter_item li{
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 14px 19px;
    position: relative;
    cursor: pointer;
    font-size: 16px !important;
}
.feq_filter_item::before{
    display: inline-flex;
    content: attr(data-title);
    padding: 14px 19px;
}
.feq_filter_item .is-active::after{
    background-color: #00bfd6;
    position: absolute;
    height: 1px;
    content:"";
    top:100%;
    right: 0px;
    left: 0px;
}
.no_record_message{
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
    color: red;
}
.feq_filter p{
    padding: 14px 19px;
    margin-bottom: 0px !important;
}
.chart_ul{
    padding-right: 10px;
    padding-left: 10px;
}
.chart_ul li{
    list-style: none;
    display: flex;
    width: 250px;
    font-size: 15px;
    align-items: center;
}
.c-footer{
    margin-top: 50px;
    padding: 50px 10px 0px;
    background-color: #eceff1;
    position: absolute;
    line-height: 22px;
    width: 100%;
}
.c-footer nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.c-footer_feature_item-1{
    background: url("../files/images/8f570b58.svg") 50% 8px no-repeat;
    background-size: auto 58px;
}
.c-footer_feature_item-2{
    background: url("../files/images/a9286d2f.svg") 50% 8px no-repeat;
    background-size: auto 58px;
}
.c-footer_feature_item-3{
    background: url("../files/images/22414818.svg") 50% 8px no-repeat;
    background-size: auto 58px;
}
.c-footer_feature_item-4{
    background: url("../files/images/514926b1.svg") 50% 8px no-repeat;
    background-size: auto 58px;
}
.c-footer_feature_item-5{
    background: url("../files/images/fdb293e6.svg") 50% 8px no-repeat;
    background-size: auto 58px;
}
.c-footer nav a div{
    text-align: center;
    padding-top: 80px;
    font-size: 13px;
    color: #606060;
    padding-bottom: 20px;
    margin: auto;
}
.c-footer .row{
    width: 98%;
    border-top: 1px solid #cecece;
    margin: auto !important;
    padding-top: 20px;
    color: #4a5f73;
}
.c-footer .row ul{
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-footer .row .form-group{
    display: flex;
    margin-top: 20px;
}
.c-footer .row .form-group input{
    border-radius: 0px;
    -weblit-border-radius: 0px;
    font-size: 13px;
}
.c-footer p{
    text-align: center;
    font-size: 14px;
    border-top:1px solid #cecece;
    padding-top: 15px;
}
.c-footer .row .form-group .btn{
    border-radius: 0px;
    -weblit-border-radius: 0px;
    font-size: 13px;
}
.c-footer img{
    max-width: 90px;
    margin-top: 10px;
}
.c-footer .row ul li{
    font-size: 14px;
    list-style: none;
    line-height: 30px;
    color: #c6c6c6;
}
.promo_single{
    text-align: center;
    height: 487px;
    margin-top: 20px;
    background-color: white;
    border:1px solid rgba(0, 191, 214, 0.29);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,.03);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.promo_single a{
    display: none;
}
.promo_single img{
    width: 70%;
    margin: 42px auto;
    display: block;
}
.promo_single .active{
    display: block !important;
}
.promo_single_header{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.promo-single-bar::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:0px;
    height:2px;
    background: linear-gradient(90deg,#ffd3db,#fb3449);
    content:"";
    animation: bar-fill 7s infinite;
}
.header_cart_box{
    width:350px;
    position:relative;
    z-index:1000;
}
.header_cart_box .cart_table{
    max-height: 300px !important;
    overflow-y: auto !important;
    display: block;
}
.header_cart_box .cart_table tr td:nth-child(1){
    width:28% !important;
}
.header_cart_box .cart_table tr td:nth-child(2){
    width: 71% !important;
    padding-right: 1% !important;
}
.header_cart_box .cart_table td ul li{
    font-size: 11px !important;
    display: flex;
    text-align: right;
}
.header_cart_box .product_cart_info{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.header_cart_box .product_cart_info .fa{
    font-size: 16px;
}
.header_cart_box a:hover{
    color: black;
}
.header_cart_box .cart_table td ul .title{
    font-size: 13px !important;
    padding-bottom: 5px !important;
}
.header_cart_box .cart_table td img{
    width: 90% !important;
}
@keyframes bar-fill  {
    0% { width: 0%}
    100% { width: 100%}
}
.dropdown.cart
{
    position: absolute;
    top:15px;
    left: 0px;
}
.basket_arrow{
    border-left: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    position: absolute;
    width: 15px;
    height: 15px;
    left:30px;
    top:-9px;
    background: white;
    transform: rotate(45deg);
}
.dropdown.cart .dropdown-menu{
    border-color:#c6c6c6;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.dropdown.cart .box_label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding:5px 10px;
    font-size:14px;
    cursor: pointer;
}
.dropdown.cart .box_label div span{
    display: block;
}

.order_page{
    background-color:#ef5661;
    color:white;
    padding:5px !important;
    font-size: 13px;
}
.order_page:hover{
    color: white;
}
.dropdown.cart .cart_table{
    margin-top:0px !important;
}
.productPriceList{
    background: white;
    margin-top: 20px;
}
.warranty_list div{
    width: 20% !important;
    display: flex;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}
.warranty_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.warranty_list .fa{
    margin-left: 5px;
}
.warranty_list .price{
    font-size: 16px;
    justify-content: center;
    color:#000 !important;
}
.productPriceList .active{
    background:#f4fbff !important;
    border:1px solid #19bfd3 !important;
}
.product_send_time::before{
    background: url("../files/images/d0a997dc.svg") no-repeat 50% 50%;
    width: 33px;
    height: 32px;
    content:"";
    margin-left: 10px;
    background-size: contain;
}
.btn-seller-add-cart{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #00bfd6;
    padding: 10px 20px;
    color: #00bfd6;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
#add_address_box .alert{
    width: 100%;
    font-size: 14px;
    margin: 0px 10px 10px;
}
#additional_info #location .col-md-6{
    padding: 0px !important;
}
#additional_info .form-control{
    padding-right: 15px !important;
}
#additional_info .feedback-hint{
    right: 90% !important;
}
#additional_info .footer .btn {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    margin-left: 10px;
}
#additional_info .toggle_box{
    margin-top: 25px !important;
}
.center{
    text-align: center !important;
}
#additional_info .form-column{
    border-left: 1px solid #e6e6e6;
    margin-top: 20px;
}
.profile_address_btn{
    height: 270px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    flex-direction: column;
 }
 .profile_address_btn::before{
     content:"\F041" !important;
     font-family:FontAwesome;
     font-size: 40px !important;
     padding-left: 5px;
 }
 #review{
    min-height:320px !important;
 }
.question_box{
     margin: 35px;
 }
.feq_headline{
    color: #6f6f6f;
    font-weight: 700;
    line-height: 35px;
    font-size: 19px;
}
.feq_headline span{
    display: block;
    padding-top: 5px;
    font-size: 15px !important;
}
.question_box textarea{
    padding: 10px;
    width: 100%;
    height: 180px;
    resize: none;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #dfdfdf;
}
.question_buttom_div{
    display: flex;
}
.question_buttom_div button{
    margin-top: 10px;
    padding: 12px 30px;
    background-color: #7a7a7a;
}
.question_buttom_div .agreement{
    margin: 18px;
}
.question_buttom_div .agreement label{
    margin-right: 10px;
    line-height: 30px;
    font-size: 15px;
}
.feq_list li{
    list-style: none;
    position: relative;
    border:1px solid #dbdbdb;
    background: #fcfcfc;
    margin-right: 171px;
    padding: 19px 29px 50px;
    color:#4d4d4d;
    min-height: 220px;
    margin-top: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.feq_list li::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color:  transparent transparent transparent #dbdbdb;
    border-width: 11px 0px 11px 11px;
    left: 100%;
    top: 50%;
}
.feq_list .feq_header{
    width: 122px;
    margin-left: 44px;
    position: absolute;
    left: 100%;
    top:35px;
    text-align: center;
    font-size: 20px;
}
.feq_list .feq_header span{
    font-size: 15px !important;
    display: block;
}
.feq_list .feq_header::before{
    content:"\F059";
    display:inline-block;
    font-size: 40px;
    color: #35ccde;
    font-family: FontAwesome;
}
.feq_list .anserFormItem .feq_header::before{
    content:"" !important;
}
.feq_list .anserFormItem  .btn-secondary{
    background-color: #35ccde !important;
    border-color: #35ccde !important;
}
.feq_list .anserFormItem  h5{
    width: 100% !important;
}
.feq_list .footer{
    font-size: 14px;
    position: absolute;
    display: flex;
    width: 100%;
    right: 0px;
    bottom: 25px;
    padding: 0px 20px;
    justify-content: space-between;
}
.data_link{
    cursor: pointer;
}
.answer_li{
    margin-top: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top:0px !important;
}
.answer_li .feq_header::before{
    content:"" !important;
}
.disabled_textarea_div{
    padding: 10px;
    width: 100%;
    height: 180px;
    resize: none;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color:#dfdfdf;
}
#login_box .feedback-hint{
    display: block !important;
}
#login_box .modal-body{
    padding: 0px !important;
}
#login_box #auth_box{
    margin: 0px;
}
#login_box .modal-content{
    width:412px;
}
#login_box .modal-dialog{
    width:412px;
}
#login_box .feedback-hint{
    right: auto;
    left: 0px !important;
}
#login_box  .form-group{
    padding-top: 15px !important;
}
#login_box .alert-warning{
    margin-bottom: 0px !important;
    text-align: center !important;
}
#login_box .data_link{
    font-size:15px !important;
}
.reset_password_link{
    font-size: 13px;
    color: #1ca2bd;
}
.btn-seller-add-cart:hover{
    background-color:#00bfd6;
    color:white !important;
}
.favorite_list .col-3{
    position: relative;
}
.favorite_list .col-3 .fa-trash-o{
    position: absolute;
    font-size: 20px;
    top:calc(50% - 10px);
    cursor: pointer;
}
.favorite_list .col-9{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px !important;
}
.favorite_list .col-9 div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.favorite_list .col-9 .product_price{
    color:red;
    font-size: 18px;
}
.favorite_list .col-9 .btn-primary{
    font-size: 14px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    background-color:#00bfd6 !important;
    border-color:#00bfd6 !important;
}
.favorite_list .pagination{
    margin-top: 20px;
}
.favorite_list .col-3 img{
    width: 70% !important;
    margin: auto;
    display: block;
}
.favorite_list .row{
    box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
    -webkit-box-shadow:0 12px 12px 0px rgba(180, 180, 180, 0.1);
    background-color: #fff;
    padding: 25px 15px;
    margin-bottom:15px !important;
    display: flex;
}
.product_gallery_box{
    width: 100%;
    padding: 0px 10px 20px;
}
.product_gallery_box ul{
    display: inline-flex;
    width: 100%;
    padding-top: 30px;
    border-top:1px solid #e2e2e2;
    justify-content: space-between;
}
.product_gallery_box ul li{
    list-style: none;
    width:23%;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 0px;
    cursor: pointer;
}
.product_gallery_box ul img{
    max-width:90%;
    margin:auto;
    display: block;
    margin-top: 0px !important;
}
.product_gallery_box ul .button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_gallery_box ul .button div {
    display: flex;
    width: 34px;
    justify-content: space-between;
}
.product_gallery_box ul .button div span{
    width: 8px;
    height: 8px;
    background-color: #b3b3b3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
}
.gallery_box_content{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    height: 570px;
    display: inline-flex;
    flex-direction: row !important;
}
.gallery_box_content .left_box{
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.gallery_box_content .right_box{
    overflow: hidden;
    width: 15%;
    border-left: 1px solid #c8c8c8;
}
.img_swiper{
    overflow-y: hidden;
    transform: translate3d(0px,200px,0px);
    transition-duration: 300ms;
}
.img_swiper .swiper-slide{
    padding-top: 15px;
    padding-bottom: 15px;
}
.img_select_border{
    border-left: 2px solid #00bfd6 !important;
}
.gallery_box_content .swiper-slide img{
     width: 60%;
     margin: auto;
     display: block;
}
#product_gallery_box .modal-lg{
    max-width: 90% !important;
    width: 90% !important;
}
#product_gallery_box .left_box img{
    margin: auto;
    display: block;
}
#product_gallery_box .left_box .close{
    position: absolute;
    top:0px;
    left:0px;
    font-size: 30px;
    z-index: 100;
}
#product_gallery_box .modal-body{
    display: flex;
}
.rang_slider{
    position: absolute;
    bottom: 40px;
    right: 0px;
    left: 0px;
    direction: ltr;
    width: 180px;
    height: 40px;
    margin: auto;
    background: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
}
.rang_slider input[type="range"]{
    width: 100px !important;
    margin-top: 7px;
}
.rang_slider .fa{
    color:#808080;
    margin-top: 15px;
}
.rang_slider .fa-minus{
    margin-right: 15px;
}
.rang_slider .fa-plus{
    margin-left: 15px;
}
.gallery_item{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
}
.profile_box_header{
    position: relative;
    background-color: #00bfd6;
    height: 96px;
    display: flex;
    justify-content: center;
}
.profile_box_header .profile_avatar{
    background-image:  url(../files/images/f03362d0.svg);
    background-size: 64px 64px;
    height: 102px;
    width: 102px;
    background-repeat: no-repeat;
    background-color: white;
    border:4px  solid #beebf1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    top:12px;
    position: absolute;
    background-position: 50%;
}
.profile_info{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
.message_form{
    width: 95%;
    margin:20px auto;
}
.message_form .form-control{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    font-size: 14px !important;
}
.message_form .btn{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    font-size: 14px !important;
}
.message_form  textarea{
    resize: none;
    font-size: 14px !important;
    height: 150px;
}
.messageList{
    width: 95% !important;
    margin:10px auto !important;
}
.message_table tr th,.message_table tr td{
    text-align: center;
}
.search_form{
    padding-bottom:20px;
    display: flex;
}
.search_form .form-control{
    max-width: 300px !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.messageList .btn{
    font-size:14px !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.search_form .form-group{
    margin-bottom: 0px !important;
}
.count_span{
    width: 20px;
    height: 20px;
    background-color: #009ec9;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    display: block;
}
.profile_menu_ul li{
    display: flex;
    justify-content: space-between;
}
.page_cover{
    width: 100%;
    height: 410px;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url('../files/images/9de6ef39.jpg') top no-repeat;
    background-size: cover;
}
.faq_list{
    width: 91% !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -125px !important;
    margin-right: auto;
    margin-left: auto;
}
.feq_cat_list{
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
}
.feq_cat_list a{
    width:33%;
    display: block;
}
.feq_cat_list a:hover{
    color:black !important;
}
.feq_cat{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    position: relative;
}
.feq_cat:hover{
    border-radius:8px;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,.15);
}
.feq_cat span{
    margin-top: 20px;
}
.faq_cat_icon{
    width: 120px;
    height: 120px;
    background: #f9f9f9 50% no-repeat;
    margin-bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq_cat_icon img{
    max-width: 100%;
}
.cat_list_border_left::after {
    content: "";
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    width: 1px;
    background-color: #d3d3d3;
    left: 0;
}
.feq_cat::before {
    content: "";
    width: calc(100% - 20px);
    position: absolute;
    right: 10px;
    height: 1px;
    background-color: #d3d3d3;
    bottom: 0;
}
.common_question_list{
    margin-top:30px !important;
}
.common_question{
    line-height: 30px;
    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.common_question_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 60px;
    align-items: center;
    padding-right: 15px;
    padding-left:20px;
    cursor: pointer;
}
.common_question_header h5{
    margin: 0px !important;
    font-weight: bold;
    font-size: 16px;
}
.common_question_header .fa{
    font-size:20px;
}
.small_answer{
    display: none;
    width: 96%;
    margin: 10px auto;
}
.more_data{
    width: 100%;
    text-align: left;
}
.page_cover_title{
    width: 100%;
    padding-top:80px;
    color: white;
    text-align: center;
}
.page_cover .search_box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page_cover .search_box form{
    width: 500px;
    display: flex;
    margin-top: 20px;
}
.page_cover .search_box form .btn{
    width:100px !important;
    font-size: 14px;
    height: 45px;
}
.page_cover .search_box form .form-control{
    width: calc(100% - 120px) !important;
    margin-left: 20px;
    font-size: 14px;
    height: 45px;
}
.cat_info{
    display: flex;
    align-items: center;
}
.cat_info img{
    width:60px ;
    margin-left: 10px;
}
.faq_list .answer{
    margin-top: 20px;
}
.faq_list .answer img{
    width: 90% !important;
    margin: auto;
    display: block;
}
.faq_list .answer video{
    margin: auto;
    display: block;
}
.product-unavailable{
    margin:10px 0px;
}
.product-unavailable span{
    font-weight: bold;
    font-size: 20px;
    color: #7a7a7a;
    margin-bottom: 20px;
    display: block;
}
.small_answer ul li{
    font-size: 15px;
}
.small_answer ul li::marker{
    color:deepskyblue;
}


@media (max-width:1279px){
    .slider .col-2{
        display:none;
    }
    .slider .col-10{
        max-width:100% !important;
        flex: 0 0 100% !important;
        padding:0px !important;
    }
    .slider .col-3{
        padding: 0px !important;
    }
    .slider .col-9{
        padding-left: 0px !important;
    }
    .index-pic{
        height:211px;
    }
}
@media(min-width:1280px) {

    .slider .col-10{
        padding-right:15px !important;
    }
    .slider_box {
        height: 320px;
    }
    .slide_div a {
        height: 320px;
    }
    #right-slide{
        top:144px;
    }
    #left-slide{
        top:144px;
    }
    .discount-box-content{
        width:75% !important;
        min-width:75% !important;
    }
    .discount_left_item{
        display:block;
    }
    .discount_box_footer{
        display:none;
    }
    .slider .col-3{
        display:none;
    }
    .slider .col-9{
        width:100%;
        min-width:100%;
        padding:0px !important;
    }
    .slider .col-10{
        padding-left:0px !important;
    }
    .product_div{
        width: 25% !important;
    }
    .product_div img{
        width: 60% !important;
    }
    .gallery_box_content{
        height: 650px !important;
    }
}
@media(min-width:1500px) {
    .gallery_box_content .swiper-slide img{
        width: 70%;
    }
}
