<template>
    <div class="favorite_list">
        <div v-for="item in FavoriteList.data" v-bind:key="item.id" class="row">
            <div class="col-3">
                <span class="fa fa-trash-o" v-on:click="remove_of_list(item.get_product.id)"></span>
                <img v-bind:src="$siteUrl+'/files/thumbnails/'+item.get_product.image_url" >
            </div>

            <div class="col-9">
                <div>
                    <a v-bind:href="$siteUrl+'/product/dkp-'+item.get_product.id+'/'+item.get_product.product_url">
                        {{ item.get_product.title}}
                    </a>

                    <div class="score">
                         <div class="gray">
                             <div class="red" :style="{width:getScoreValue(item.get_product)+'%'}"></div>
                         </div>
                    </div>
                </div>

                <div>
                    <span class="product_price" v-if="item.get_product.status==1">
                        {{ replaceNumber(number_format(item.get_product.price)) }} تومان
                    </span>
                    <span class="product_price" v-else>
                        <span v-if="item.get_product.status==-1">توقف تولید</span>
                        <span v-else>ناموجود</span>
                    </span>
                    <a class="btn btn-primary" v-bind:href="$siteUrl+'/product/dkp-'+item.get_product.id+'/'+item.get_product.product_url">
                        مشاهده محصول
                    </a>
                </div>
            </div>
        </div>

        <pagination :data="FavoriteList" @pagination-change-page="getList"></pagination>

       <div class="message_div" v-if="show_dialog_box">
            <div class="message_box" style="width:430px">
                <p id="msg">آیا مطمئنید که این محصول از لیست مورد علاقه شما حذف شود؟</p>
                <a class="alert alert-success" v-on:click="approve()">بله</a>
                <a class="alert alert-danger" v-on:click="show_dialog_box=false,selected_product=null">خیر</a>
            </div>

        </div>
    </div>
</template>
<script>
import myMixin from "../myMixin";
export default({
    name:"FavoriteList",
    data(){
        return{
            FavoriteList:{data:[]},
            remove_id:0,
            show_dialog_box:false
        }
    },
    mixins:[myMixin],
    mounted(){
        this.getList();
    },
    methods:{
        getList:function(page=1)
        {
            $("#loading_box").show();
            const url=this.$siteUrl+"/user/getFavoriteList?page="+page;
            this.axios.get(url).then(response=>{
                $("#loading_box").hide();
                this.FavoriteList=response.data;
            }).catch(error=>{
                $("#loading_box").hide();
            });
        },
        getScoreValue:function (product) {
            let width=0;
            if(product.score_count>0)
            {
                width=product.score/(product.score_count*6);
            }
            width=width*20;
            return width;
        },
        remove_of_list:function(id){
            this.remove_id=id;
            this.show_dialog_box=true;
        },
        approve:function()
        {
            $("#loading_box").show();
            this.show_dialog_box=false;
            const url=this.$siteUrl+"/user/favorate/removeProductOfList";
            const formdata=new FormData();
            formdata.append('product_id',this.remove_id);
            this.axios.post(url,formdata).then(response=>{
                $("#loading_box").hide();
                this.FavoriteList=response.data;
            }).catch(error=>{
                $("#loading_box").hide();
            });
        }
    }
})
</script>