<template>
    <div>
        <div class="header_cart_box">
            <div class="basket_arrow"></div>
            <div class="box_label">
                <span>({{ replaceNumber(CartProduct.product_count) }}) کالا</span>
                <a v-bind:href="$siteUrl+'/Cart'">مشاهده سبد خرید</a>
            </div>
            <div id="header_cart_content">
                <div v-if="CartProduct.product!=undefined && CartProduct.product.length>0">
                    <table class="cart_table">
                        <tr v-for="product in CartProduct['product']">
                            <td :class="[product.product_count===0 ? 'available_filter' : '']"><img v-bind:src="$siteUrl+'/files/thumbnails/'+product.product_image_url"></td>
                            <td>
                                <ul>
                                    <li class="title">
                                        <a href="">{{ product.product_title }}</a>
                                    </li>
                                    <li v-if="product.product_count>0">
                                        <div class="product_cart_info">
                                            <div>
                                                <span style="padding-left: 4px"> {{ replaceNumber(product.product_count) }} عدد</span>
                                                <div v-if="product.color_name!=undefined" style="float:left">
                                                    <span>رنگ : </span>
                                                    <span>{{ product.color_name }}</span>
                                                </div>
                                            </div>
                                            <a  v-bind:href="$siteUrl+'/Cart'" >
                                                <span class="fa fa-trash-o"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li v-else>
                                        <div class="available_product">
                                            ناموجود
                                        </div>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="box_label" style="height: 50px">
                <div>
                    <span>مبلغ قابل پرداخت : </span>
                    <span>{{ CartProduct.cart_price }} تومان</span>
                </div>
                <a v-bind:href="$siteUrl+'/shipping'" class="btn order_page">ثبت سفارش</a>
            </div>

        </div>

    </div>
</template>

<script>
    import myMixin from "../myMixin";

    export default {
        name: "HeaderCart",
        mixins:[myMixin],
        data(){
            return{
                show_dialog_box:false,
                selected_product:null,
                CartProduct:{product:[]}
            }
        },
        mounted() {
            this.CartProductData();
        },
        methods:{
            CartProductData:function () {
                const url=this.$siteUrl+"/site/CartProductData";
                this.axios.get(url).then(response=>{
                    this.CartProduct=response.data;
                })
            }
        }
    }
</script>

<style scoped>

</style>
