<template>
    <div>

        <div id="cat_product_list">
            <a v-for="product in this.productList.data" v-bind:href="$siteUrl+'/product/dkp-'+product.id+'/'+product.product_url">
                <div class="product_div">
                    <div class="product_offer_div" v-if="check_has_off(product)">
                        <div v-if="check_has_off(product)">
                            <product-offers-time :time="check_has_off(product)"></product-offers-time>
                        </div>
                    </div>
                    <div class="product_info_div">
                        <div class="image_box">

                            <div v-if="product.status==1 && product.get_first_product_price!=null">
                             <span class="discount-badge" v-if="product.get_first_product_price.price1!=product.get_first_product_price.price2">
                                 {{ '٪'+replaceNumber(getDiscountValue(product.get_first_product_price.price1,product.get_first_product_price.price2)) }}
                             </span>
                            </div>
                            <img :class="[product.status==-1 ? 'stop-production-img' : '']" v-bind:src="$siteUrl+'/files/thumbnails/'+product.image_url">
                        </div>
                        <div class="info">
                            <div class="product_info">
                                <span class="title">{{ product.title }}</span>
                            </div>

                            <div v-if="product.score_count>0" style="display: flex;align-items: center">
                                <span>{{ replaceNumber(product.score_count) }} نفر</span>
                                <div class="score">
                                    <div class="gray">

                                        <div class="red" :style="{width:getScoreValue(product)+'%'}"></div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="product.status==1 && product.get_first_product_price!=null" class="price">
                                <div class="discount_div">
                                    <div  v-if="product.get_first_product_price.price1!=product.get_first_product_price.price2">
                                        <del>
                                            {{ replaceNumber(number_format(product.get_first_product_price.price1)) }}
                                        </del>
                                    </div>
                                </div>
                                <span>{{ replaceNumber(number_format(product.get_first_product_price.price2)) }} تومان</span>
                            </div>
                            <div v-else class="product_status">
                                <div>
                                    <p class="line"></p>
                                    <span v-if="product.status==0">ناموجود</span>
                                    <span v-if="product.status==-1">توقف تولید</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <div v-if="this.productList.data.length==0 && get_result && !show_loading_box" class="not_fount_product_message">
                محصولی برای نمایش یافت نشد
            </div>

            <div id="loading_box2" v-if="show_loading_box">
                <div class="loading_div2">
                    <div class="loading2"></div>
                    <span>در حال دریافت اطلاعات</span>
                </div>
            </div>
        </div>



        <div class="modal" role="dialog" id="sort_dialog_box">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>مرتب سازی بر اساس</h6>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-inline sort_ul">
                            <li><input v-model="sort" value="21"  type="radio" id="radio1" name="sort"> <label v-on:click="set_sort(21)" for="radio1">پربازدید ترین</label> </li>
                            <li><input v-model="sort" value="22" type="radio" id="radio2" name="sort"><label v-on:click="set_sort(22)" for="radio2">محبوب ترین</label></li>
                            <li><input v-model="sort" value="23" type="radio" id="radio3" name="sort"> <label v-on:click="set_sort(23)" for="radio3">جدید ترین</label> </li>
                            <li><input v-model="sort" value="24"  type="radio" id="radio4" name="sort"> <label v-on:click="set_sort(24)" for="radio4">ارزان ترین</label></li>
                            <li><input v-model="sort" value="25" type="radio" id="radio5" name="sort"> <label v-on:click="set_sort(25)" for="radio5">گران ترین</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import myMixin from "../myMixin";
    import ProductOffersTime from "./ProductOffersTime";
    export default {
        name: "MobileProductBox",
        components: {ProductOffersTime},
        data(){
            return {
                productList:{data:[]},
                get_result:false,
                search_url:'',
                min_price:0,
                max_price:0,
                sort:21,
                page:1,
                product_box_height:0,
                scroll_height:0,
                getServerData:'ok',
                show_loading_box:true,
                send_request:true
            }
        },
        mixins:[myMixin],
        mounted() {
            const app = this;
            this.search_url=window.location.href;
            this.set_product_sort();
            this.check_search_params(this.search_url);
            $(".selected_filter_item").show();
            $(document).on('click','.product_cat_ul li',function () {
                app.set_filter_event(this,app.search_url);
            });
            $(document).on('click','#filter_link',function () {
                $(".selected_filter_item").show();
                $('.removed_tag').remove();
                app.getServerData='ok';
                app.productList.data=[];
                app.scroll_height=0;
                app.page=1;
                app.getProduct();
            });
            $(document).on('click','#remove_all_filter',function(){
                app.remove_all_filter(app.search_url);
            });$(document).on('toggle','#product_status',function (e,action) {
                app.set_product_status(e,action);
            });
            $(document).on('toggle','#send_status',function (e,action) {
                app.set_send_status(e,action);
            });
            $(document).on('toggle','#send_status',function (e,action) {
                app.set_send_status(e,action);
            });
            $(document).on('click','.selected_filter_item',function(){
                app.remove_filter_item(this);
            });
            $(window).scroll(function (e) {
                app.checkScroll($(document).scrollTop());
            });
            this.getProduct();
        },
        methods: {
            getProduct: function () {
                if(this.send_request==true)
                {
                    this.send_request=false;
                    const app=this;
                    this.setFilterPrice();
                    this.setPageUrl(this.search_url);
                    this.hide_search_box();
                    this.show_loading_box=true;
                    this.request_url =this.search_url.replace(this.$siteUrl, this.$siteUrl + '/getProduct');
                    this.axios.get(this.get_request_url(this.request_url,this.page)).then(reespone => {

                        reespone.data['product'].data.forEach(function (item) {
                            app.productList.data.push(item);
                        });
                        if(reespone.data['product'].data.length==0)
                        {
                            this.getServerData='no';
                        }
                        this.setRangSlider(reespone.data.max_price);
                        this.show_loading_box=false;
                        this.get_result = true;

                        this.$nextTick(function () {
                            const  h=$("#cat_product_list")[0].scrollHeight;
                            this.product_box_height=h;
                        });
                        this.send_request=true;
                    }).catch(error=>{
                        this.show_loading_box=false;
                        this.send_request=true;
                    });
                }

            },
            getScoreValue:function (product) {
                let width=0;
                if(product.score_count>0)
                {
                    width=product.score/(product.score_count*6);
                }
                width=width*20;
                return width;
            },
            add_url_query_string:function (key,value) {
                let url=this.search_url;
                let check=url.split(key);
                const n=check.length-1;
                const url_params=url.split('?');
                if(url_params[1]==undefined){
                    url=url+"?"+key+"["+n+"]="+value;
                }
                else {
                    url=url+"&"+key+"["+n+"]="+value;
                }
                this.search_url=url;
            },
            hide_search_box:function () {
                $('body').css('overflow-y','auto');
                const width=$(window).width();
                const right="-"+width+"px";
                setTimeout(function () {
                    $('.mobile_data_box').css({'right':right});
                },50);
            },
            changed_url:function (url) {
                this.search_url=url;
            },
            add_filter_tag:function (data,k,v) {
                $("#filter_div").show();
                data=data.toString().replace(',','_').replace(',','_');
                data=data.toString().replace("'",'').replace("'",'');
                data="'"+data+"'";
                const el="li[data="+data+"]";
                const title=$(el).parent().parent().parent().parent().find('.title_box label').text();
                const html='<div class="selected_filter_item " data-key="'+k+'" data-value="'+v+'">' +
                    '<span>' +
                    title+":"+$(el).find('.title').text() +
                    '</span>' +
                    '<span class="fa fa-close"></span>' +
                    '</div>';

                $("#selected_filter_box").append(html);
            },
            remove_filter_tag:function (k,v) {
                $('.selected_filter_item[data-key="'+k+'"][data-value="'+v+'"]').addClass('removed_tag');
            },
            setFilterPrice:function () {
                if(this.max_price>0)
                {
                    this.search_url=this.add_url_param('price[min]',this.min_price);
                    this.search_url=this.add_url_param('price[max]',this.max_price);
                }
            },
            add_url_param:function (key,value,repet) {
                let params=new window.URLSearchParams(window.location.search);
                let url=this.search_url;
                if(params.get(key)!=null){
                    let old_param=key+"="+encodeURIComponent(params.get(key));
                    let new_param=key+"="+value;
                    url=url.replace(old_param,new_param);
                }
                else {
                    const url_params=url.split('?');
                    if(url_params[1]==undefined){
                        url=url+"?"+key+"="+value;
                    }
                    else {
                        url=url+"&"+key+"="+value;
                    }
                }

                return url;
            },
            set_product_status:function(e,action){
                if(action){
                    this.remove_url_params('has_product',1,this.search_url);
                    $('.product_status_filter').addClass('removed_tag');
                }
                else {
                    this.search_url=this.add_url_param('has_product',1);

                    if(!$("#selected_filter_box").find('div').hasClass('product_status_filter'))
                    {
                        $("#filter_div").show();
                        const html='<div class="selected_filter_item product_status_filter">' +
                            '<span>فقط کالاهای موجود</span> <span class="fa fa-close"></span>' +
                            '</div>';
                        $("#selected_filter_box").append(html);
                    }
                    else {
                        $('.product_status_filter').removeClass('removed_tag');
                    }
                }
            },
            set_send_status:function(e,action){
                if(action){
                    this.remove_url_params('has_ready_to_shipment',1,this.search_url);
                    $('.send_status_filter').addClass('removed_tag');
                }
                else {
                    this.search_url=this.add_url_param('has_ready_to_shipment',1);
                    if(!$("#selected_filter_box").find('div').hasClass('send_status_filter'))
                    {
                        $("#filter_div").show();
                        const html='<div class="selected_filter_item send_status_filter">' +
                            '<span>فقط کالاهای آماده ارسال</span> <span class="fa fa-close"></span>' +
                            '</div>';
                        $("#selected_filter_box").append(html);
                    }
                    else {
                        $('.send_status_filter').removeClass('removed_tag');
                    }
                }
            },
            remove_filter_item:function (el) {
                const key=$(el).attr('data-key');
                const value=$(el).attr('data-value');
                if(key && value){
                    this.remove_url_query_string(key,value,this.search_url);
                    $(el).remove();
                    const data=key+"_param_"+value;
                    $('li[data="'+data+'"] .check_box').removeClass('active');
                    if($("#selected_filter_box div").length==0){
                        $("#filter_div").hide();
                    }
                    this.getServerData='ok';
                    this.scroll_height=0;
                    this.page=1;
                    this.productList.data=[];
                    this.getProduct();
                }
                else if($(el).hasClass('product_status_filter')){
                    this.remove_product_status(el);
                    this.getServerData='ok';
                    this.scroll_height=0;
                    this.page=1;
                    this.productList.data=[];
                    this.getProduct();
                }
                else if($(el).hasClass('send_status_filter')){
                    this.remove_send_status_filter(el);
                    this.getServerData='ok';
                    this.scroll_height=0;
                    this.page=1;
                    this.productList.data=[];
                    this.getProduct();
                }
            },
            remove_product_status:function (el) {
                $(el).remove();
                $("#product_status").unbind('click');
                $("#product_status").toggles({
                    type:'Light',
                    text:{'on':'','off':''},
                    width:50,
                    direction:'rtl',
                    on:true
                });
                this.remove_url_params('has_product','1',this.search_url);
            },
            remove_send_status_filter:function (el) {
                $(el).remove();
                $("#send_status").unbind('click');
                $("#send_status").toggles({
                    type:'Light',
                    text:{'on':'','off':''},
                    width:50,
                    direction:'rtl',
                    on:true
                });
                this.remove_url_params('has_ready_to_shipment','1',this.search_url);
            },
            set_sort:function (value) {
                this.sort=value;
                this.search_url=this.add_url_param('sortby',value);
                $("#sort_dialog_box").modal('hide');
                this.productList.data=[];
                this.getServerData='ok';
                this.scroll_height=0;
                this.page=1;
                this.getProduct();
            },
            checkScroll:function (h) {

                if(h>(this.product_box_height/2) && this.product_box_height>200 && h>this.scroll_height && this.getServerData=='ok' && this.send_request)
                {
                    this.page=this.page+1;
                    this.getProduct();
                }
                if(h>this.scroll_height)
                {
                    this.scroll_height=h;
                }
            }
        }
    }
</script>

<style scoped>

</style>
