<template>
    <div>
        <transition name="data-box">

          <div class="vue_mobile_data_box" v-if="show_box">

            <div class="header">
                <span>پرسش و پاسخ</span>
                <a v-on:click="hide_transition_box()">
                    <span>بازگشت</span>
                    <span class="fa fa-angle-left"></span>
                </a>
            </div>  
            <div class="content vue_content_box">
               
               <div class="questionlist">
                   <ul class="feq_list" v-for="(row,key) in Questions.data" v-bind:key="key">
                    <li>
                      <div class="section">
                          <div class="feq_header">
                             <span v-if="row.get_user.name==null">ناشناس</span>
                             <span v-else>{{ row.get_user.name }}</span>
                             <span>{{ getDate(row.time) }}</span>
                          </div>
                          <p v-html="row.question"></p>

                          <div class="footer">
                           
                             <a  class="data_link" v-on:click="set_answer_id(row)">
                               به این پرسش پاسخ دهید
                             </a>
                          </div>
                      </div>
                    </li>

                     <li v-for="(answer,key2) in row.get_answer" class="answer_li" v-bind:key="key2">
                      <div class="section">
                        <div class="answer_header">
                           <span>پاسخ : </span>
                           <span v-if="answer.get_user.name==null">ناشناس</span>
                           <span v-else>{{ answer.get_user.name }}</span>
                        </div>
                        <p v-html="answer.question"></p>
                        <div class="footer">
                          <span>آیا این پاسخ برایتان مفید بود ؟</span>
                          <div>
                             <button class="btn_like" v-on:click="like(answer,answer.id,'questions',true)" v-bind:data-count="replaceNumber(answer.like)">بله</button>
                             <button class="btn_like dislike" v-on:click="dislike(answer,answer.id,'questions',true)" v-bind:data-count="replaceNumber(answer.dislike)">خیر</button>
                          </div>
                        </div>
                     </div>
                     </li>
                  </ul>
               </div>

               <div v-if="last_page>1" class="paginate">
                   <span :class="[page<last_page ? 'active' : '']" v-on:click="next()">بعدی</span>
                   <div>
                       صفحه
                       {{ replaceNumber(page) }}
                        از 
                       {{ replaceNumber(last_page) }}
                   </div>
                   <span :class="[page>1 ? 'active' : '']" v-on:click="previous()">قبلی</span>
               </div>
            </div>
            <div v-if="show_loading_box" id="loading_box2">
               <div class="loading_div2">
                  <div class="loading2"></div>
                  <span>در حال دریافت اطلاعات</span>
               </div>
             </div>
          </div>
          
        </transition>


        <mobile-login-box ref="loginBox"></mobile-login-box>
        <mobile-question-form ref="questionForm"  :product_id="product_id"></mobile-question-form>

    </div>
</template>
<script>
import myMixin from "../myMixin";
import MobileLoginBox from "./MobileLoginBox";
import MobileQuestionForm from "./MobileQuestionForm";
export default{
    name:"MobileThemeQuestionList",
    mixins:[myMixin],
    components:{MobileLoginBox,MobileQuestionForm},
    data(){
        return {
             Questions:{data:[]},
             show_loading_box:false,
             show_box:false,
             ordering:'new',
             monthName:[
                'فروردین',
                'اردیبهشت',
                'خرداد',
                'تیر',
                'مرداد',
                'شهریور',
                'مهر',
                'آبان',
                'آذر',
                'دی',
                'بهمن',
                'اسفند'
             ],
             send:true,
             show_login_box:false,
             page:1,
             last_page:0
        }
    },
    props:['product_id','auth'],
    mounted(){
        const app=this;
        $(document).on('click','#show_more_question',function(){
            $('body').css('overflow-y','hidden');
            if(app.Questions.data.length==0)
            {
               app.getQuestions();
            }
            else{
                app.show_box=true;
            }
        });
        $(document).on('click','#add_question',function(){
            if(app.auth=='no')
            {
                 app.$refs.loginBox.show_box();
            }
            else{
                app.$refs.questionForm.updateData(true,'ارسال پرسش','پرسش',0,false);
            }
        });
    },
    methods:{
        getQuestions:function(){
           $("#loading_box").show();
            const url=this.$siteUrl+"/site/get_question/"+this.product_id+"?page="+this.page+"&ordering="+this.ordering;
            this.axios.get(url).then(response=>{
                this.Questions=response.data;
                this.last_page=response.data.last_page
                $("#loading_box").hide();
                if(this.show_box==false)
                {
                    this.show_box=true;
                }
            }).catch(error=>{
                 $("#loading_box").hide();
            });
        },
        set_answer_id:function(question){
            if(this.auth=='no')
            {
                 this.$refs.loginBox.show_box();
            }
            else
            {
                 this.$refs.questionForm.updateData(true,'ارسال پاسخ','پاسخ',question.id,question.question);
            }
        },
        next:function()
        {
            if(this.page<this.last_page)
            {
                this.page=this.page+1;
                this.getQuestions();
            }
        },
        previous:function(){
            if(this.page>=2)
            {
                this.page=this.page-1;
                this.getQuestions();
            }
        }
    }
};
</script>