<template>
    <div>
        <div ref="FavoriteList">
          <div class="profile_item" v-for="(item,key) in FavoriteList.data" v-bind:key="item.id">
            <div class="favorite_product">
                <div>
                   <img v-bind:src="$siteUrl+'/files/thumbnails/'+item.get_product.image_url" >
                </div>
                <div>
                    <a v-bind:href="$siteUrl+'/product/dkp-'+item.get_product.id+'/'+item.get_product.product_url">
                        {{ item.get_product.title}}
                    </a>
                    <div class="score">
                         <div class="gray">
                             <div class="red" :style="{width:getScoreValue(item.get_product)+'%'}"></div>
                         </div>
                    </div>
                    <div>
                        <span class="product_price" v-if="item.get_product.status==1">
                             {{ replaceNumber(number_format(item.get_product.price)) }} تومان
                        </span>
                        <span class="product_price" v-else>
                          <span v-if="item.get_product.status==-1">توقف تولید</span>
                          <span v-else>ناموجود</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="favorite_footer">
                <a class="btn btn-primary" v-bind:href="$siteUrl+'/product/dkp-'+item.get_product.id+'/'+item.get_product.product_url">
                            مشاهده محصول
                </a>
                <a class="btn btn-danger" v-on:click="remove_of_list(item.get_product.id,key)">حذف محصول</a>

        
            </div>
          </div>
        </div>


         <div v-if="show_loading_box" id="loading_box2">
            <div class="loading_div2">
                <div class="loading2"></div>
                <span>در حال دریافت اطلاعات</span>
            </div>
        </div>

        <div class="message_div" v-if="show_dialog_box">
            <div class="message_box" style="height:150px">
                <p id="msg">آیا مطمئنید که این محصول از لیست مورد علاقه شما حذف شود؟</p>
                <a class="alert alert-success" v-on:click="approve()">بله</a>
                <a class="alert alert-danger" v-on:click="show_dialog_box=false,selected_product=null">خیر</a>
            </div>
        </div>
    </div>
</template>
<script>
import myMixin from "../myMixin";
export default ({
    name:"MobileFavoriteList",
    data(){
        return{
            FavoriteList:{data:[]},
            remove_id:0,
            show_dialog_box:false,
            send_request:true,
            page:1,
            favorite_list_height:0,
            scroll_height:0,
            getServerData:true,
            show_loading_box:false,
            select_key:0
        }
    },
    mixins:[myMixin],
    mounted(){
        const app=this;
        $(window).scroll(function(){
            app.checkScroll($(document).scrollTop());
        });
        this.getList();
    },
    methods:{
        getList:function()
        {
            const app=this;
            if(this.send_request){
                this.show_loading_box=true;
                this.send_request=false;
                const url=this.$siteUrl+"/user/getFavoriteList?page="+this.page;
                this.axios.get(url).then(response=>{
                   this.send_request=true;
                   this.show_loading_box=false;
                   response.data.data.forEach(function(item){
                       app.FavoriteList.data.push(item);
                   });
                   this.$nextTick(function(){
                      const h=this.$refs.FavoriteList.clientHeight;
                      this.favorite_list_height=h;
                    });
                    if(response.data.data.length==0)
                    {
                        this.getServerData=false;
                    }
                }).catch(error=>{
                    this.send_request=true;
                    this.show_loading_box=false;
                });
            }
        },
        getScoreValue:function (product) {
            let width=0;
            if(product.score_count>0)
            {
                width=product.score/(product.score_count*6);
            }
            width=width*20;
            return width;
        },
        remove_of_list:function(id,key){
            this.remove_id=id;
            this.select_key=key
            this.show_dialog_box=true;
        },
        approve:function()
        {
            $("#loading_box").show();
            this.show_dialog_box=false;
            const url=this.$siteUrl+"/user/favorate/removeProductOfList?showMobile=ok";
            const formdata=new FormData();
            formdata.append('product_id',this.remove_id);
            this.axios.post(url,formdata).then(response=>{
                $("#loading_box").hide();
                if(response.data=='ok'){
                    this.$delete(this.FavoriteList.data,this.select_key);
                    this.$nextTick(function(){
                      const h=this.$refs.FavoriteList.clientHeight;
                      this.favorite_list_height=h;
                    });
                }
            }).catch(error=>{
                $("#loading_box").hide();
            });
        },
        checkScroll:function(h){
            if(h>(this.favorite_list_height/2) && this.favorite_list_height>500 && h>this.scroll_height && this.send_request && this.getServerData)
            {
                this.page=this.page+1;
                this.getList();
            }

            if(h>this.scroll_height)
            {
                this.scroll_height=h;
            }
        }
    }
})
</script>