<template>
    <transition name="data-box">

          <div class="vue_mobile_data_box" v-if="show_login_box">

            <div class="header">
                <span>ورود به سایت</span>
                <a v-on:click="show_login_box=!show_login_box">
                    <span>بازگشت</span>
                    <span class="fa fa-angle-left"></span>
                </a>
            </div>  
            <div class="content vue_content_box">
                <div id="auth_box">
                    <div style="margin:10px 15px">
                        <div class="alert alert-warning">
                            ابتدا باید وارد حساب کاربری خود شوید
                        </div>

                        <div class="form-group">
                          <div class="field_name">شماره موبایل</div>
                            <label class="input_label user_name">
                               <input type="text" :class="[mobile_error ? 'form-control validate_error_border' : 'form-control']" v-model="mobile" placeholder="شماره موبایل خود را وارد نمایید">
                               <label class="feedback-hint" v-if="mobile_error">{{ mobile_error_text }}</label>
                            </label>
                        </div>

                        <div class="form-group">
                           <div class="field_name">کلمه عبور</div>
                            <label class="input_label user_pass">
                              <input type="password" :class="[password_error ? 'form-control validate_error_border' : 'form-control']" v-model="password"  placeholder="کلمه عبور خود را وارد نمایید">
                              <label class="feedback-hint" v-if="password_error">{{ password_error_text }}</label>
                            </label>
                        </div>


                       <div class="form-group">
                           <input class="form-check-input" v-model="checked" type="checkbox" >
                           <span :class="[ checked ? 'check_box active' : 'check_box']" v-on:click="checked=!checked"></span>
                           <span class="form-check-label">مرا به خاطر بسپار</span>
                        </div>

                        <div v-if="serverError" class="alert alert-danger">
                            {{ serverError }}
                        </div>
                       <a class="reset_password_link" v-bind:href="$siteUrl+'/password/reset'">بازیابی کلمه عبور</a>

                        <div class="send_btn login_btn" v-on:click="login()">
                          <span class="line"></span>
                          <span class="title">ورود به سایت</span>
                        </div>

                    </div>

                     <div class="alert alert-warning">
                      <span>کاربر جدید هستید ؟</span>
                      <span>
                        <a class="data_link" v-bind:href="$siteUrl+'/register'">ثبت نام در سایت</a>
                      </span>
                     </div>

                </div>

               
            </div>
          </div>
    </transition>
</template>

<script>
    import myMixin from "../myMixin";
    export default({
        name:"MobileLoginBox",
        data(){
            return{
                mobile:'',
                password:'',
                mobile_error:false,
                mobile_error_text:false,
                password_error:false,
                password_error_text:false,
                checked:true,
                serverError:false,
                send_data:true,
                show_login_box:false
            }
        },
        mixins:[myMixin],
        methods:{
            show_box:function(){
                this.show_login_box=true;
            }
        }
    })
</script>
