<template>
    <div id="send_order_type_box">


        <div v-if="multi_type_send">
            <h6>انتخاب نحوه ارسال</h6>
            <div class="shipping_data_box">
                <p v-on:click="send_normal_send">
                    <span :class="[ normal_send ? 'radio_check active_radio_check' : 'radio_check' ]"></span>
                    <span class="order_send_type">عادی</span>
                </p>

                <p v-on:click="send_fast_send">
                    <span :class="[ fast_send ? 'radio_check active_radio_check' : 'radio_check' ]"></span>
                    <span class="order_send_type">سریع (مرسوله ها در سریع ترین زمان ممکن ارسال می شوند)</span>
                </p>
            </div>
        </div>


        <div v-if="normal_send" class="shipping_data_box" style="padding-right: 0px;padding-left:0px">

            <div class="swiper_product_box">

                <swiper :options="swiperOption">
                    <swiper-slide v-for="product in OrderingData.cart_product_data"  :key="product.product_id" class="product_info_box">
                        <img v-bind:src="$siteUrl+'/files/thumbnails/'+product.product_image_url">
                        <p>{{ product.product_title }}</p>
                        <p class="product_color_name" v-if="product.color_id>0">
                            <span v-if="product.color_type==1">رنگ : </span>
                            <span v-else>سایز : </span>
                            {{ product.color_name }}</p>
                        <p class="product_color_name">فروشنده : {{ product.seller_name }}</p>
                    </swiper-slide>

                    <div class="swiper-button-next" slot="button-next"></div>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                </swiper>
            </div>

            <div>
                <span class="checkout_image"></span>
                <div class="checkout_time">
                    <p>
                        <span>بازه تحویل سفارش:</span>
                        <span>زمان تقریبی تحویل از</span>
                        <span>{{ OrderingData.min_ordering_day }}</span>
                        <span>تا</span>
                        <span>{{ OrderingData.max_ordering_day }}</span>
                    </p>
                    <span>شیوه ارسال : پست پیشتاز با ظرفیت اختصاصی برای تنیس شاپ</span>
                    <span>هزینه ارسال:</span>
                    <span>{{ OrderingData.normal_send_order_amount }}</span>
                </div>
            </div>

        </div>

        <div  v-if="fast_send" v-for="(delivery_order_interval,key) in OrderingData.delivery_order_interval">
            <p>
                <span>مرسوله</span>
                <span>{{ replaceNumber(i=key+1) }}</span>
                <span>از</span>
                <span>{{ replaceNumber(OrderingData.delivery_order_interval.length) }}</span>
            </p>

            <div class="shipping_data_box" style="padding-right: 0px;padding-left:0px">
                <div class="swiper_product_box">
                    <swiper :options="swiperOption">
                        <swiper-slide v-for="(data,key2) in OrderingData.array_product_id[key]" :key="key" class="product_info_box">
                            <img v-bind:src="$siteUrl+'/files/thumbnails/'+OrderingData.cart_product_data[data+'_'+key2].product_image_url">
                            <p>{{ OrderingData.cart_product_data[data+'_'+key2].product_title }}</p>
                            <p class="product_color_name" v-if="OrderingData.cart_product_data[data+'_'+key2].color_id>0">
                                <span v-if="OrderingData.cart_product_data[data+'_'+key2].color_type==1">رنگ :</span>
                                <span v-else>سایز :</span>
                                {{ OrderingData.cart_product_data[data+'_'+key2].color_name }}</p>
                            <p class="product_color_name">فروشنده : {{ OrderingData.cart_product_data[data+'_'+key2].seller_name }}</p>

                        </swiper-slide>

                        <div class="swiper-button-next" slot="button-next"></div>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                    </swiper>
                </div>

                <div>
                    <span class="checkout_image"></span>
                    <div class="checkout_time">
                        <p>
                            <span>بازه تحویل سفارش:</span>
                            <span>زمان تقریبی تحویل از</span>
                            <span>{{ delivery_order_interval.day_label1 }}</span>
                            <span>تا</span>
                            <span>{{ delivery_order_interval.day_label2 }}</span>
                        </p>
                        <span>شیوه ارسال : پست پیشتاز با ظرفیت اختصاصی برای تنیس شاپ</span>
                        <span>هزینه ارسال:</span>
                        <span>{{ delivery_order_interval.send_fast_price}}</span>
                    </div>
                </div>
            </div>
        </div>

       <div class="shipping_data_box" style="padding:20px 20px 15px 30px">

           <input type="checkbox" checked="checked" class="form-check-input" name="need-invoice">
           <span class="check_box active" id="need_invoice"></span>
           <span style="padding-right:10px">درخواست ارسال فاکتور خرید</span>
       </div>

        <ul class="checkout_action" v-if="checkout_action">
            <li>
                <a class="data_link" v-bind:href="$siteUrl+'/Cart'">
                    بازگشت به سبد خرید
                </a>
            </li>

            <li>
                <a class="data_link" onclick="$('#add_order').submit()">
                    تایید و ادامه ثبت سفارش
                </a>
            </li>
        </ul>

        <a v-else  onclick="$('#add_order').submit()">
            <div class="add_product_link">
                <span>ادامه ثبت سفارش</span>
            </div>
        </a>

    </div>
</template>

<script>
    import myMixin from "../myMixin";
    import { swiper, swiperSlide } from 'vue-awesome-swiper';
    import 'swiper/dist/css/swiper.css'
    export default {
        name: "OrderingTime",
        props:['city_id','mobile'],
        mixins:[myMixin],
        components:{swiper,swiperSlide},
        data(){
            return {
                OrderingData:[],
                multi_type_send:false,
                normal_send:true,
                fast_send:false,
                swiperOption: {
                    slidesPerView:4,
                    spaceBetween:30,
                    navigation:{
                        nextEl:'.swiper-button-next',
                        prevEl:'.swiper-button-prev',
                    },
                    breakpoints:{
                        450:{
                            slidesPerView:2
                        },
                        650:{
                            slidesPerView:3
                        }
                    }
                },
                checkout_action:true,
                has_changes_cart:false
            }
        },
        mounted(){
            this.checkout_action= this.mobile=='ok' ? false: true;
            this.get_ordering_time();
        },
        methods:{
            get_ordering_time:function () {
                this.axios.get(this.$siteUrl+"/shipping/getSendData/"+this.city_id).then(response=>{
                    this.OrderingData=response.data;
                    if(this.OrderingData.delivery_order_interval.length>1)
                    {
                        this.multi_type_send=true;
                    }
                    this.setPrice();
                    this.check_changes_cart();
                });
            },
            send_normal_send:function () {
                this.normal_send=true;
                this.fast_send=false;
                this.setPrice();
                document.getElementById('send_type').value=1;
            },
            send_fast_send:function () {
                this.normal_send=false;
                this.fast_send=true;
                document.getElementById('send_type').value=2;
                this.setPrice();
            },
            setPrice:function () {
                if(this.normal_send)
                {
                    $("#total_send_order_price").text(this.OrderingData.normal_send_order_amount);
                    $("#final_price").text(this.OrderingData.normal_cart_price);
                }
                else{
                    $("#total_send_order_price").text(this.OrderingData.total_fast_send_amount);
                    $("#final_price").text(this.OrderingData.fasted_cart_amount);
                }
            },
            check_changes_cart:function(){
                const app=this;
                for (var key in  this.OrderingData.cart_product_data) {
                    const row=this.OrderingData.cart_product_data[key];
                    if(row.initial_amount!=undefined)
                    {
                        if(row.initial_amount!=(row.price2/row.product_count)){
                            app.has_changes_cart=true;
                        }
                    }
                }
                if(app.has_changes_cart){
                    app.$emit('change_cart_status');
                }
            }
        },
        watch:{
            city_id:function (newVal,oldVal) {
               this.city_id=newVal;
                this.get_ordering_time();
            }
        }
    }
</script>

<style scoped>

</style>
