<template>
    <div>
        <div class="swiper-container order_steps">
            <div class="swiper-wrapper">

                <div class="swiper-slide" v-for="(step,key) in steps" v-if="key>-1">

                    <div :class="[ order_status<key ? 'step_div step_inactive' : 'step_div']" v-on:click="change_status(key)">

                        <img v-bind:src="$siteUrl+'/files/images/step'+key+'.svg'" :style="[key==6 ? {width:'65%'} : {}]" />
                        <span>{{ step  }}</span>
                    </div>

                    <hr v-if="key<6" :class="[order_status>key ? 'hr_active' : '' ]">

                    <div v-else style="min-width:66px"></div>

                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

<!--        <div class="message_div" style="display: block" v-if="show_box">-->
<!--            <div class="message_box">-->
<!--                <p id="msg">آیا از تغییر وضعیت مرسوله مطمئن هستین ؟ </p>-->
<!--                <a class="alert alert-success" v-on:click="send_data()">بله</a>-->
<!--                <a class="alert alert-danger" v-on:click="show_box=false">خیر</a>-->
<!--            </div>-->

<!--        </div>-->
        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">تغییر وضعیت مرسوله</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        آیا از تغییر وضعیت مرسوله به حالت {{ steps[status] }} مطمین هستین ؟

                        <textarea v-model="tozihat" placeholder="توضیحات" class="textarea"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="send_data()">تایید</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="error_dialog">
            <span>خطا در ارسال اطلاعات - مجددا تلاش نمایید</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderStep",
        props:['steps','send_status','order_id'],
        data(){
           return{
               show_box:false,
               status:0,
               order_status:0,
               tozihat:""
           }
        },
        mounted(){
          this.order_status=this.send_status;
        },
        methods:{
            change_status:function (status) {
                this.tozihat='';
                this.status=status;
                $("#statusModal").modal('show');
                //this.show_box=true;
            },
            send_data:function () {
                $("#statusModal").modal('hide');
                $("#loading_box").show();
                const formData=new FormData();
                formData.append('order_id',this.order_id);
                formData.append('status',this.status);
                formData.append('tozihat',this.tozihat);
                const url=this.$siteUrl+'/admin/order/change_status';
                this.axios.post(url,formData).then(response=>{
                    $("#loading_box").hide();
                    if(response.data=='ok'){
                        this.order_status=this.status;
                    }
                    else{
                        $('.error_dialog').show();
                        setTimeout(function () {
                            $('.error_dialog').hide();
                        },4000);
                    }
                }).catch(onerror=>{
                    $("#loading_box").hide();
                    $('.error_dialog').show();
                    setTimeout(function () {
                        $('.error_dialog').hide();
                    },4000);
                });

            }
        }
    }
</script>

<style scoped>

</style>
