<template>
    <div v-if="warrantyList.length>1" class="productPriceList">
        <div :class="[key==0 ? 'warranty_list active' : 'warranty_list']" v-for="(warranty,key) in warrantyList">
            <div>
                <span class="fa fa-home"></span>
                <a v-if="warranty.get_seller.id!=0" v-bind:href="$siteUrl+'/seller/'+warranty.get_seller.id">
                    <span>{{ warranty.get_seller.brand_name }}</span>
                </a>
                <a v-else>
                    <span>{{ warranty.get_seller.brand_name }}</span>
                </a>
            </div>

            <div class="product_send_time">

                <span data-toggle="tooltip" data-placement="bottom" v-bind:title="get_time_message(warranty.send_time)" v-if="warranty.send_time==0">
                    {{ get_day(warranty.send_time) }}
                </span>
                <span v-else data-toggle="tooltip" data-placement="bottom" v-bind:title="get_time_message(warranty.send_time)">
                    {{ get_day(warranty.send_time) }}
                </span>
            </div>

            <div>
                <span>{{ warranty.get_warranty.name }}</span>
            </div>
            <div class="price">
                {{ replaceNumber(number_format(warranty.price2))+' تومان' }}
            </div>
            <div style="display: flex;justify-content: center">
                <a class="btn-seller-add-cart" v-on:click="add_product(warranty.id,warranty.warranty_id)">
                    افزودن به سبد خرید
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import myMixin from "../myMixin";

    export default {
        name: "OtherPrice",
        props:['product_id'],
        mixins:[myMixin],
        data(){
          return {
              color_id:0,
              warrantyList:[],
              request_count:0
          }
        },
        mounted(){
            this.color_id=$("#color_id").val();
            const app=this;
            $(document).on('click','.color_li',function(){
                app.color_id=$(this).attr('data');
                app.getProductWarranty();
            });
            this.getProductWarranty();
        },
        methods:{
            getProductWarranty:function(){
                this.request_count=this.request_count+1;
                const url=this.$siteUrl+"/api/getWarranty/"+this.product_id;
                const formaData=new FormData();
                formaData.append('color_id',this.color_id);
                this.axios.post(url,formaData).then(response=>{
                    this.request_count=0;
                    this.warrantyList=response.data;

                    this.$nextTick(function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    });
                }).catch(error=>{
                    if(this.request_count<2)
                    {
                        this.getProductWarranty();
                    }
                });
            },
            get_day:function (day) {
                if(day==0)
                {
                    return 'آماده ارسال';
                }
                else {
                    return  'ارسال از '+this.replaceNumber(day)+' روز کاری آینده';
                }
            },
            get_time_message:function (day) {
                if(day==0)
                {
                    return 'این کالا در حال حاضر در انبار تنیس شاپ موجود ، آماده پردازش و ارسال است';
                }
                else {
                    return 'این کالا در انبار فروشنده موجود است، برای ارسال باید برای مدت زمان ذکر شده منتظر بمانید.';
                }
            },
            add_product:function (id,warranty_id) {
                const value=id+'_'+warranty_id;
                document.getElementById('warranty_id').value=value;
                $("#add_cart_form").submit();
            }
        }
    }
</script>

<style scoped>

</style>
