<template>
    <div>
        <div class="product_list_box">
            <div class="header">
                <ul class="list-inline">
                    <li><span class="fa fa-sort-amount-asc"></span>مرتب سازی بر اساس : </li>
                    <li :class="sort==21 ? 'active' : ''" v-on:click="set_sort(21)"><a><span>پربازدید ترین</span></a></li>
                    <li :class="sort==22 ? 'active' : ''" v-on:click="set_sort(22)"><a><span>محبوب ترین</span></a></li>
                    <li :class="sort==23 ? 'active' : ''" v-on:click="set_sort(23)"><a><span>جدید ترین</span></a></li>
                    <li :class="sort==24 ? 'active' : ''" v-on:click="set_sort(24)"><a><span>ارزان ترین</span></a></li>
                    <li :class="sort==25 ? 'active' : ''" v-on:click="set_sort(25)"><a><span>گران ترین</span></a></li>
                </ul>
            </div>
            <div class="search_product_div product_list">
                <div class="product_div" v-for="product in this.productList.data" :key="product.id">
                    <div class="image_div">

                        <div class="product_offer_div">
                            <div v-if="check_has_off(product)">
                                <product-offers-time :time="check_has_off(product)"></product-offers-time>
                            </div>
                        </div>
                        <ul class="color_box list-inline">
                            <li v-for="(color,key) in product.get_product_color" v-if="color.get_color!=null && key<3">
                                <label :style="{background:'#'+color.get_color.code}"></label>
                            </li>

                            <li v-if="product.get_product_color.length>3">
                                <span class="fa fa-plus"></span>
                            </li>
                        </ul>
                        <a v-bind:href="$siteUrl+'/product/dkp-'+product.id+'/'+product.product_url">
                            <img :class="[product.status==-1 ? 'stop-production-img' : '']" v-bind:src="$siteUrl+'/files/thumbnails/'+product.image_url">
                        </a>
                    </div>

                    <div class="info">
                        <a v-bind:href="$siteUrl+'/product/dkp-'+product.id+'/'+product.product_url">
                            <p class="title">{{ product.title }}</p>
                        </a>
                        <div class="compare_tag" v-if="compare=='yes'">
                            <p v-on:click="add_compare_list(product)">
                                <span :class="[has_compare_list(product.id,'no') ? 'check_box active' : 'check_box']"></span>
                                <span style="padding-right: 5px">مقایسه</span>
                            </p>
                        </div>


                        <div v-if="product.status==1 && product.get_first_product_price!=null" class="price">
                            <div class="discount_div">
                                <div  v-if="product.get_first_product_price.price1!=product.get_first_product_price.price2">
                                    <del>
                                        {{ replaceNumber(number_format(product.get_first_product_price.price1)) }}
                                    </del>
                                    <span class="discount-badge">
                             {{ '٪'+replaceNumber(getDiscountValue(product.get_first_product_price.price1,product.get_first_product_price.price2)) }}
                          </span>
                                </div>
                            </div>
                            <span>{{ replaceNumber(number_format(product.get_first_product_price.price2)) }} تومان</span>
                        </div>
                        <div v-else class="product_status">
                            <div>
                                <p class="line"></p>
                                <span v-if="product.status==0">ناموجود</span>
                                <span v-if="product.status==-1">توقف تولید</span>
                                <span v-else>ناموجود</span>
                            </div>
                        </div>
                    </div>

                    <div class="shop_name" v-if="product.status==1 && product.get_first_product_price!=null">
                         فروشنده :
                        {{ product.get_first_product_price.get_seller.brand_name }}
                    </div>
                </div>

                <div v-if="this.productList.data.length==0 && get_result" class="not_fount_product_message">
                    محصولی برای نمایش یافت نشد
                </div>

                <div class="paginate_div">
                    <pagination :data="productList" @pagination-change-page="getProduct"></pagination>
                </div>

            </div>
        </div>
        <div class="compare_product_list" v-if="compare_list.length>0 && show_compare" v-on:mouseleave="show_compare=false">
            <ul>
                <li v-for="item in compare_list">
                    <img v-bind:src="$siteUrl+'/files/thumbnails/'+item.pic">
                    <span style="width: 100%">{{ item.title }}</span>
                    <span class="fa fa-close" v-on:click="remove_product_of_compare_list(item.product_id)"></span>
                </li>
            </ul>
            <span v-on:click="empty_compare_list" class="empty_compare_list">انصراف</span>
        </div>
        <a v-bind:href="compare_link" id="compare_list" v-if="compare_list.length>0" v-on:mouseover="show_compare=true" >
            <div>
                <span>مقایسه</span>
                <span>{{ replaceNumber(compare_list.length) }}</span>
                <span>کالا</span>
            </div>
        </a>
    </div>
</template>

<script>
    import myMixin from "../myMixin";
    import ProductOffersTime from "./ProductOffersTime";

    export default {
        name: "ProductBox",
        components: {ProductOffersTime},
        data(){
            return{
                productList:{data:[]},
                request_url:'',
                noUiSlider:null,
                min_price:0,
                max_price:0,
                get_result:false,
                sort:21,
                search_string:'',
                compare_list:[],
                show_compare:false,
                compare_link:'',
            }
        },
        props:['compare'],
        mixins:[myMixin],
        mounted() {
            const app=this;
            this.check_search_params();
            this.set_product_sort();
            this.set_search_string();
            $(document).on('click','#price_filter_btn',function () {
                app.setFilterPrice();
            });
            $(document).on('click','.product_cat_ul li',function () {
               app.set_filter_event(this);
            });
            $(document).on('keyup','#search_input',function (event) {
                app.search_product(event,this);
            });
            $(document).on('toggle','#product_status',function (e,action) {
                app.set_product_status(e,action);
            });
            $(document).on('toggle','#send_status',function (e,action) {
                app.set_send_status(e,action);
            });
            $(document).on('click','.selected_filter_item',function(){
                app.remove_filter_item(this);
            });
            $(document).on('click','#remove_all_filter',function(){
                app.remove_all_filter();
            });
            $(document).on({
                mouseenter: function () {
                    $('.compare_tag p',this).show();
                },
                mouseleave: function () {
                    $('.compare_tag p',this).hide();
                }
            }, ".product_div");
            this.getProduct();
        },
        methods:{
            getProduct:function (page=1) {
                $("#loading_box").show();
                this.request_url=window.location.href.replace(this.$siteUrl,this.$siteUrl+'/getProduct');
                this.axios.get(this.get_request_url(this.request_url,page)).then(reespone=>{
                    this.productList=reespone.data['product'];
                    this.setRangSlider(reespone.data.max_price);
                    $("#loading_box").hide();
                    this.get_result=true;

                    if(reespone.data['count']!=undefined)
                    {
                        $("#product_count").text(this.replaceNumber(reespone.data['count'])+" کالا");
                    }
                });
            },
            add_filter_tag:function (data,k,v) {
                $("#filter_div").show();
                data=data.toString().replace(',','_').replace(',','_');
                data=data.toString().replace("'",'').replace("'",'');
                data="'"+data+"'";
                const el="li[data="+data+"]";
                const title=$(el).parent().parent().parent().parent().find('.title_box label').text();
                const html='<div class="selected_filter_item" data-key="'+k+'" data-value="'+v+'">' +
                    '<span>' +
                    title+":"+$(el).find('.title').text() +
                    '</span>' +
                    '<span class="fa fa-close"></span>' +
                    '</div>';

                $("#selected_filter_box").append(html);
            },
            add_url_param:function (key,value,repet) {
                let params=new window.URLSearchParams(window.location.search);
                let url=window.location.href;
                if(params.get(key)!=null){
                    let old_param=key+"="+encodeURIComponent(params.get(key));
                    let new_param=key+"="+value;
                    url=url.replace(old_param,new_param);
                }
                else {
                    const url_params=url.split('?');
                    if(url_params[1]==undefined){
                        url=url+"?"+key+"="+value;
                    }
                    else {
                        url=url+"&"+key+"="+value;
                    }
                }

                this.setPageUrl(url);
            },
            add_url_query_string:function (key,value) {
                let url=window.location.href;
                let check=url.split(key);
                const n=check.length-1;
                const url_params=url.split('?');
                if(url_params[1]==undefined){
                    url=url+"?"+key+"["+n+"]="+value;
                }
                else {
                    url=url+"&"+key+"["+n+"]="+value;
                }
                this.setPageUrl(url);
                this.getProduct(1);
            },
            changed_url:function (url) {
                this.setPageUrl(url);
                this.getProduct(1);
            },
            setFilterPrice:function () {
                this.add_url_param('price[min]',this.min_price);
                this.add_url_param('price[max]',this.max_price);
                this.getProduct(1);
            },
            set_sort:function (value) {
                this.sort=value;
                this.add_url_param('sortby',value);
                this.getProduct(1);
            },
            search_product:function (event,el) {
                if(event.keyCode==13){
                    const search_text=$(el).val();
                    if(search_text.trim().length==0){
                        if(this.search_string!=""){
                            this.remove_url_params('string',this.search_string);
                            this.search_string='';
                            $('.search_product').remove();
                            if($("#selected_filter_box div").length==0){
                                $("#filter_div").hide();
                            }
                            this.getProduct(1);
                        }
                    }
                    else {
                       if (search_text.trim().length>1){
                           this.search_string=search_text.toString().trim();
                           this.add_url_param('string', this.search_string);
                           if(!$("#selected_filter_box").find('div').hasClass('search_product'))
                           {
                              $("#filter_div").show();
                              const html='<div class="selected_filter_item search_product">' +
                                '<span>'+this.search_string+'</span> <span class="fa fa-close"></span>' +
                                '</div>';
                              $("#selected_filter_box").append(html);
                           }
                           this.getProduct(1);
                       }
                    }
                }
            },
            set_search_string:function () {
                let params=new window.URLSearchParams(window.location.search);
                let url=window.location.href;
                if(params.get('string')!=null){
                    this.search_string=params.get('string');
                    if(!$("#selected_filter_box").find('div').hasClass('search_product'))
                    {
                        $("#filter_div").show();
                       const html='<div class="selected_filter_item search_product">' +
                           '<span>'+params.get('string')+'</span> <span class="fa fa-close"></span>' +
                           '</div>';
                       $("#selected_filter_box").append(html);
                    }
                }
            },
            set_product_status:function(e,action){
                if(action){
                    this.remove_url_params('has_product',1);
                    this.getProduct(1);

                    $('.product_status_filter').remove();
                    if($("#selected_filter_box div").length==0){
                        $("#filter_div").hide();
                    }
                }
                else {
                    this.add_url_param('has_product',1);
                    this.getProduct(1);

                    if(!$("#selected_filter_box").find('div').hasClass('product_status_filter'))
                    {
                        $("#filter_div").show();
                        const html='<div class="selected_filter_item product_status_filter">' +
                            '<span>فقط کالاهای موجود</span> <span class="fa fa-close"></span>' +
                            '</div>';
                        $("#selected_filter_box").append(html);
                    }
                }
            },
            set_send_status:function(e,action){
                if(action){
                    this.remove_url_params('has_ready_to_shipment',1);
                    this.getProduct(1);
                    $('.send_status_filter').remove();
                    if($("#selected_filter_box div").length==0){
                        $("#filter_div").hide();
                    }
                }
                else {
                    this.add_url_param('has_ready_to_shipment',1);
                    this.getProduct(1);
                    if(!$("#selected_filter_box").find('div').hasClass('send_status_filter'))
                    {
                        $("#filter_div").show();
                        const html='<div class="selected_filter_item send_status_filter">' +
                            '<span>فقط کالاهای آماده ارسال</span> <span class="fa fa-close"></span>' +
                            '</div>';
                        $("#selected_filter_box").append(html);
                    }
                }
            },
            remove_filter_item:function (el) {
                const key=$(el).attr('data-key');
                const value=$(el).attr('data-value');
                if(key && value){
                    this.remove_url_query_string(key,value);
                    $(el).remove();
                    const data=key+"_param_"+value;
                    $('li[data="'+data+'"] .check_box').removeClass('active');
                    if($("#selected_filter_box div").length==0){
                        $("#filter_div").hide();
                    }
                }
                else if($(el).hasClass('product_status_filter')){
                    this.remove_product_status(el);
                }
                else if($(el).hasClass('send_status_filter')){
                    this.remove_send_status_filter(el);
                }
                else if($(el).hasClass('search_product')){
                    const text=$(el).text();
                    $(el).remove();
                    this.remove_url_params('string',text.toString().trim());
                    document.getElementById('search_input').value='';
                    this.getProduct(1);
                }
            },
            remove_product_status:function (el) {
                $(el).remove();
                this.remove_url_params('has_product','1');
                $("#product_status").click();

            },
            remove_send_status_filter:function (el) {
                $(el).remove();
                this.remove_url_params('has_ready_to_shipment','1');
                $("#send_status").click();

            },
            add_compare_list:function(product){
                const result=this.has_compare_list(product.id,'ok');
                if(result.status=='ok')
                {
                    this.$delete(this.compare_list,result.key);
                }
                else {
                    if(this.compare_list.length<4)
                    {
                        this.set_compare_link(product.id);
                        this.compare_list.push({product_id:product.id,title:product.title,pic:product.image_url});
                    }
                }
            },
            has_compare_list:function (product_id,object) {
                let result=false;
                for (let i=0;i<this.compare_list.length;i++)
                {
                    if(this.compare_list[i].product_id==product_id){
                      if(object=='ok'){
                          result={
                              'status':'ok',
                              'key':i
                          };
                      }
                      else {
                          result=true;
                      }
                    }
                }
                return result;
            },
            remove_product_of_compare_list:function(product_id) {
                const result=this.has_compare_list(product_id,'ok');
                if(result.status=='ok')
                {
                    this.$delete(this.compare_list,result.key);
                }
                this.compare_link=this.compare_link.replace('/dkp-'+product_id,'');
            },
            set_compare_link:function (product_id) {
                if(this.compare_link=='')
                {
                    this.compare_link=this.$siteUrl+"/compare";
                }
                this.compare_link= this.compare_link+"/dkp-"+product_id;
            },
            empty_compare_list:function () {
                this.compare_link='';
                this.compare_list=[];
            },
            remove_filter_tag:function (k,v) {
                $('.selected_filter_item[data-key="'+k+'"][data-value="'+v+'"]').remove();
                if($("#selected_filter_box div").length==0){
                    $("#filter_div").hide();
                }
            }
        }
    }
</script>

<style scoped>

</style>
