<template>
        <div class="question_box">
            
            <div v-if="save_question" class="alert alert-warning">
                 پرسش شما با موفقیت ثبت شد و بعد از تایید نمایش داده خواهد شد
            </div>
            <div class="feq_headline">
                پرسش و پاسخ
                <span>پرسش خود را در مورد محصول مطرح نمایید</span>
            </div>

            <div v-on:click="checkAuth()">
                <textarea v-model="Question" v-if="auth=='ok'"></textarea>
                <div v-else class="disabled_textarea_div"></div>
                <div class="question_buttom_div">
                    <div>
                        <button v-on:click="add_question()" class="btn btn-secondary">ثبت پرسش</button>
                    </div>
                    <div class="agreement">
                        <span v-on:click="send_email=!send_email" :class="[send_email ? 'check_box active' : 'check_box']"></span>
                        <label>
                            اولین پاسخی که به پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.
                            <br>
                            با انتخاب دکمه “ثبت پرسش”، <a href="">موافقت خود را با قوانین انتشار محتوا</a> در تنیس شاپ اعلام می کنم.
                        </label>
                    </div>
                </div>
            </div>

           <div class="feq_filter">
               <p>پرسش ها و پاسخ ها</p>
               <ul class="feq_filter_item" data-title="مرتب سازی بر اساس :">
                  <li :class="[ordering=='new' ? 'is-active' : '']" v-on:click="set_ordering('new')">جدید ترین پرسش</li>
                  <li :class="[ordering=='answer_count' ? 'is-active' : '']" v-on:click="set_ordering('answer_count')">بیشترین پاسخ به پرسش</li>
                  <li :class="[ordering=='user' ? 'is-active' : '']" v-on:click="set_ordering('user')">پرسش های شما</li>
               </ul>
           </div>

            <ul class="feq_list" v-for="(row,key) in list.data" v-bind:key="key">
                <li>
                    <div class="section">
                        <div class="feq_header">
                            <p>
                                پرسش
                                <span v-if="row.get_user.name==null">ناشناس</span>
                                <span v-else>{{ row.get_user.name }}</span>
                            </p>
                        </div>
                        <p v-html="row.question"></p>

                        <div class="footer">
                          <span>{{ getDate(row.time) }}</span>
                           <a  class="data_link" v-on:click="set_answer_id(row.id)">
                               به این پرسش پاسخ دهید
                           </a>
                        </div>
                    </div>
                </li>

                <li class="anserFormItem" v-if="answer_id==row.id">
                    <div class="section">
                        <div class="feq_header">
                            <p>
                                پاسخ
                            </p>
                        </div>
                        <div class="row">
                            <h5>به این سوال پاسخ دهید</h5>
                             <div v-if="save_answer" class="alert alert-warning">
                              پاسخ شما با موفقیت ثبت شد و بعد از تایید نمایش داده خواهد شد
                             </div>

                             <textarea v-model="Question"></textarea>
                             <div class="question_buttom_div">
                                 <div>
                                   <button v-on:click="add_question(answer_id)" class="btn btn-secondary">ثبت پاسخ</button>
                                 </div>
                                 <div class="agreement">
                                      <label>
                                  با انتخاب دکمه “ثبت پرسش”، <a href="">موافقت خود را با قوانین انتشار محتوا</a> در تنیس شاپ اعلام می کنم.
                                    </label>
                                 </div>
                             </div>
                        </div>
                    </div>
                </li>

                 <li v-for="(answer,key2) in row.get_answer" class="answer_li" v-bind:key="key2">
                    <div class="section">
                        <div class="feq_header">
                            <p>
                                پاسخ
                                <span v-if="answer.get_user.name==null">ناشناس</span>
                                <span v-else>{{ answer.get_user.name }}</span>
                            </p>
                        </div>
                        <p v-html="answer.question"></p>
                        <div class="footer">
                          <span>{{ getDate(answer.time) }}</span>
                          <div>
                              آیا این پاسخ برایتان مفید بود ؟
                             <button class="btn_like" v-on:click="like(answer,answer.id,'questions')" v-bind:data-count="replaceNumber(answer.like)">بله</button>
                             <button class="btn_like dislike" v-on:click="dislike(answer,answer.id,'questions')" v-bind:data-count="replaceNumber(answer.dislike)">خیر</button>
                        
                          </div>
                        </div>
                    </div>
                </li>
            </ul>

             <div class="paginate_div">
                 <pagination :data="list" @pagination-change-page="get_question"></pagination>
             </div>

             <div style="clear:both"></div>
        </div>
</template>

<script>
 import myMixin from "../myMixin";
 export default {
        name: "QuestionList",
        mixins:[myMixin],
        props:['product_id','auth'],
        data(){
            return {
                Question:'',
                send_email:false,
                send:true,
                save_question:false,
                list:{data:[]},
                answer_id:0,
                save_answer:false,
                monthName:[
                    'فروردین',
                    'اردیبهشت',
                    'خرداد',
                    'تیر',
                    'مرداد',
                    'شهریور',
                    'مهر',
                    'آبان',
                    'آذر',
                    'دی',
                    'بهمن',
                    'اسفند'
                ],
                ordering:'new'
            }
        },
        mounted() {
            const app=this;
            $(document).on('click','#questions',function(){
                if(app.list.data.length==0){
                    app.get_question();
                }
            });
        },
        methods:{
            get_question:function(page=1){
                $("#loading_box").show();
                const url=this.$siteUrl+"/site/get_question/"+this.product_id+"?page="+page+"&ordering="+this.ordering;
                this.axios.get(url).then(response=>{
                    this.list=response.data;
                     $("#loading_box").hide();
                }).catch(error=>{
                    $("#loading_box").hide();
                });
            },
            set_answer_id:function(id){
                if(this.auth=='no')
                {
                    $("#login_box").modal('show');
                }
                else{
                    this.answer_id=id;
                }
            },
            checkAuth:function()
            {
                 if(this.auth=='no')
                 {
                    $("#login_box").modal('show');
                 }
            },
            set_ordering:function(type){
                this.ordering=type;
                this.answer_id=0;
                this.get_question(1);
            }
        }
 }
</script>